@charset "UTF-8";
.margin {
  width: 1190px;
  margin: 0 auto; }

.top-header {
  top: 0; }

.floor {
  position: absolute;
  width: 60px;
  background-color: #fff;
  box-shadow: 0 0 5px #000;
  left: 200px;
  z-index: 9891231231;
  top: 620px; }
  .floor li {
    position: relative;
    display: block;
    width: 28px;
    height: 38px;
    line-height: 19px;
    font-size: 14px;
    color: #333;
    padding: 10px 16px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    background: #fff;
    z-index: 1; }
    .floor li:hover {
      background: #c81623; }
    .floor li:hover span {
      color: #fff; }
  .floor .actived {
    background: #fff; }
    .floor .actived span {
      color: #e1251b; }
  .floor li::after {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 1px;
    left: 50%;
    bottom: 0;
    margin-left: -20px;
    background: -webkit-gradient(linear, right top, left top, from(white), color-stop(#eeeeee), color-stop(#eeeeee), to(white));
    background: linear-gradient(270deg, white, #eeeeee, #eeeeee, white);
    z-index: 1;
    content: ""; }
  .floor span {
    display: block;
    color: #333;
    -webkit-transition: color .2s ease;
    transition: color .2s ease; }

#tool {
  line-height: 30px;
  height: 30px;
  background-color: #f7f7f7;
  min-width: 1190px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e9e9e9;
  font-family: 'Microsoft YaHei';
  position: relative; }
  #tool a {
    color: #666;
    font-family: 'Microsoft YaHei'; }
  #tool span {
    font-family: 'Microsoft YaHei'; }
  #tool .tool-l {
    float: left; }
    #tool .tool-l .logo {
      float: left;
      width: 156px;
      height: 30px;
      color: #8d8d8d;
      background: url(../images/bl_logo_m.png) no-repeat left;
      padding: 0 12px 0 18px; }
    #tool .tool-l .tool-l-t {
      float: left;
      padding: 0 10px;
      border-left: 1px solid #f7f7f7;
      border-right: 1px solid #f7f7f7;
      position: relative; }
      #tool .tool-l .tool-l-t:hover {
        background-color: #fff;
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        z-index: 1111;
        box-shadow: 0 0 2px #CCC; }
      #tool .tool-l .tool-l-t:hover .divshow {
        display: inline;
        z-index: 1; }
      #tool .tool-l .tool-l-t:hover .left-span {
        display: block; }
      #tool .tool-l .tool-l-t span {
        float: left; }
      #tool .tool-l .tool-l-t i {
        float: left;
        display: inline-block;
        width: 7px;
        height: 4px;
        margin-left: 7px;
        background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -40px;
        margin-top: 13px;
        transition: all .1s ease-in 0s;
        -webkit-transition: all .1s ease-in 0s; }
      #tool .tool-l .tool-l-t ul {
        display: none; }
    #tool .tool-l .tool-info {
      width: 30px;
      float: left;
      display: inline;
      height: 30px;
      line-height: 30px;
      margin-left: 10px;
      text-align: center;
      position: relative; }
  #tool .tool-r {
    float: right; }
    #tool .tool-r ul li {
      padding: 0 10px;
      float: left;
      position: relative;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      display: inline;
      height: 30px;
      line-height: 30px;
      margin-left: -1px; }
      #tool .tool-r ul li i {
        float: left;
        display: inline-block;
        width: 7px;
        height: 4px;
        background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -40px;
        margin-top: 13px;
        transition: all .1s ease-in 0s;
        -webkit-transition: all .1s ease-in 0s; }
      #tool .tool-r ul li .hi {
        float: left; }
      #tool .tool-r ul li .username {
        float: left;
        display: inline-block;
        max-width: 84px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      #tool .tool-r ul li .boxi {
        float: left;
        display: inline-block;
        width: 13px;
        height: 13px;
        background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -15px;
        margin-top: 8px; }
      #tool .tool-r ul li .login {
        display: inline-block;
        float: left; }
      #tool .tool-r ul li:hover {
        background-color: #FFF;
        box-shadow: 0 0 2px #ccc;
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        z-index: 2; }
      #tool .tool-r ul li:hover .divshow {
        display: block; }
      #tool .tool-r ul li:hover .left-span {
        display: block; }
      #tool .tool-r ul li:first-child a {
        display: inline-block; }
      #tool .tool-r ul li a {
        float: left;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;
        color: #666; }
        #tool .tool-r ul li a:hover {
          color: #ff6f6f; }
  #tool .divshow {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 2px #CCC;
    top: 30px;
    width: 85px;
    left: -1px;
    padding: 5px 0; }
    #tool .divshow dl dd {
      line-height: 24px; }
      #tool .divshow dl dd a {
        padding: 0 10px;
        height: 24px;
        line-height: 24px;
        display: block;
        color: #666; }
  #tool .pay {
    padding: 15px;
    width: 450px;
    left: 50%;
    margin-left: -240px; }
    #tool .pay .pay-dl {
      width: 450px;
      overflow: hidden; }
      #tool .pay .pay-dl dd {
        float: left;
        width: 100px;
        padding: 0 5px;
        margin-left: -1px;
        border-left: 1px dashed #e9e9e9;
        height: 126px; }
        #tool .pay .pay-dl dd .pay-title {
          line-height: 26px;
          height: 30px;
          font-weight: 700;
          font-size: 14px;
          color: #333;
          padding: 0 10px; }
        #tool .pay .pay-dl dd .pay-head {
          line-height: 24px; }
  #tool .palm {
    width: 310px;
    left: 50%;
    margin-left: -214px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    z-index: 1111; }
    #tool .palm .palm-item {
      float: left;
      margin-left: 8px;
      width: 141px;
      text-align: center;
      padding: 20px 0 4px; }
  #tool .left-span {
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    top: 28px;
    background-color: #FFF;
    z-index: 2;
    display: none; }
  #tool .left-show {
    left: -1px;
    padding: 7px 12px;
    width: 222px; }
    #tool .left-show .left-show-dl {
      width: 222px;
      line-height: 24px; }
      #tool .left-show .left-show-dl dl dd {
        padding: 0 5px;
        width: 100px;
        float: left;
        margin-left: 1px; }
        #tool .left-show .left-show-dl dl dd a {
          padding: 0 10px;
          color: #666;
          display: block; }

#header {
  height: 96px; }
  #header .logo {
    width: 410px;
    height: 60px;
    margin-top: 18px;
    float: left; }
    #header .logo .logo-l {
      width: 190px;
      float: left; }
    #header .logo .logo-r {
      float: left;
      margin-left: 25px; }
  #header .header-l {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left; }
    #header .header-l form {
      margin-top: 25px; }
      #header .header-l form .txtbox {
        float: left;
        padding: 0px 0 0px 2px;
        border: 2px solid #ff3d3d;
        position: relative; }
        #header .header-l form .txtbox .searchtxt {
          height: 19px;
          line-height: 19px;
          border: 0;
          width: 406px;
          font-size: 13px;
          font-family: 'Microsoft YaHei';
          background: 0 0;
          vertical-align: middle;
          padding: 6px 0;
          outline: none;
          text-indent: 1em; }
      #header .header-l form .searchbtn {
        float: left;
        height: 35px;
        width: 85px;
        border: 0;
        cursor: pointer;
        background: #ff3d3d url(//img.iblimg.com/respc-1/resources/v4.2/widget/header1200/i/ser_btnbg.png) no-repeat center center;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #fff;
        font-size: 14px; }
  #header .header-search-font a {
    color: #999;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block; }
  #header .header-search-font span {
    float: left;
    color: #e5e5e5;
    margin-left: 5px;
    display: inline-block; }
  #header .header-r {
    float: left;
    margin-left: 50px;
    height: 35px;
    margin-top: 25px; }
    #header .header-r a {
      height: 33px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      -webkit-border-radius: 3px;
      border: 1px solid #d7d7d7;
      display: inline-block;
      margin-left: 2px;
      color: #666;
      overflow: hidden;
      padding: 0 19px 0 12px;
      float: left;
      background: #fff url(//img.iblimg.com/respc-1/resources/v4.2/widget/header1200/i/header-right-icon.png) no-repeat right 12px;
      line-height: 33px;
      font-family: 'Microsoft YaHei'; }

#nav {
  height: 35px;
  border-bottom: 2px solid #141414;
  background: #fff;
  position: relative; }
  #nav ul.nav .navli {
    line-height: 35px;
    padding: 0 18px;
    position: relative; }
    #nav ul.nav .navli:nth-child(1) {
      background: #151515;
      cursor: pointer;
      height: 35px;
      padding: 0;
      width: 190px;
      position: relative; }
      #nav ul.nav .navli:nth-child(1) .selectbg {
        width: 190px;
        height: 430px;
        position: absolute;
        left: 0;
        top: 35px;
        background: #151515;
        opacity: .75;
        z-index: 111; }
      #nav ul.nav .navli:nth-child(1) .select {
        position: relative;
        overflow: hidden;
        height: 412px;
        padding: 11px 0 9px;
        z-index: 111; }
        #nav ul.nav .navli:nth-child(1) .select .selectli {
          height: 29px;
          line-height: 29px;
          width: 100%;
          padding-left: 16px;
          cursor: pointer;
          color: #fff;
          font-family: 'Microsoft YaHei'; }
          #nav ul.nav .navli:nth-child(1) .select .selectli:hover {
            background-color: #888; }
          #nav ul.nav .navli:nth-child(1) .select .selectli i {
            float: left;
            width: 16px;
            height: 16px;
            margin-top: 7px;
            display: inline-block;
            line-height: 16px;
            font-size: 16px;
            background: url(//img.iblimg.com/respc-1/resources/v4.1/widget/nav1200/i/nav-v3-icon-1.png) no-repeat; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .jinkou {
            background-position: 0 0; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .shengxian {
            background-position: 0 -30px; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .shipin {
            background-position: 0 -60px; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .huli {
            background-position: 0 -90px; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .jiaju {
            background-position: 0 -150px; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .muying {
            background-position: 0 -120px; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .lengdong {
            background-position: 0 -180px; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .fuzhuang {
            background-position: 0 -210px; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .xiangbao {
            background-position: 0 -240px; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .sanc {
            background-position: 0 -270px; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .jiadian {
            background-position: 0 -300px; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .qiche {
            background-position: 0 -330px; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .yiliao {
            background-position: 0 -360px; }
          #nav ul.nav .navli:nth-child(1) .select .selectli .cardbook {
            background-position: 0 -390px; }
        #nav ul.nav .navli:nth-child(1) .select .selects {
          float: left;
          margin-left: 10px;
          display: inline-block;
          font-size: 13px; }
          #nav ul.nav .navli:nth-child(1) .select .selects .selectsa {
            color: #fff;
            text-decoration: none;
            float: left;
            margin-left: 10px;
            display: inline-block;
            font-size: 13px;
            font-weight: 500; }
            #nav ul.nav .navli:nth-child(1) .select .selects .selectsa:hover {
              color: #111; }
      #nav ul.nav .navli:nth-child(1) #menuData {
        position: absolute;
        top: 36px;
        left: 190px;
        z-index: 11111;
        background-color: #fff;
        transition: .5s ease-in; }
        #nav ul.nav .navli:nth-child(1) #menuData .gb-icon {
          display: none;
          width: 31px;
          height: 31px;
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 0;
          background: url(//img.iblimg.com/respc-1/resources/v4.1/widget/nav1200/i/nav1200_sprite.png) no-repeat 0 -70px; }
        #nav ul.nav .navli:nth-child(1) #menuData li {
          width: 984px;
          height: 416px;
          display: none;
          padding: 8px;
          overflow: hidden; }
        #nav ul.nav .navli:nth-child(1) #menuData .menu_right_img {
          width: 240px;
          height: 422px;
          float: right; }
          #nav ul.nav .navli:nth-child(1) #menuData .menu_right_img a {
            margin-bottom: 9px; }
        #nav ul.nav .navli:nth-child(1) #menuData .menu_floor {
          width: 725px;
          margin: 10px 0 0 5px;
          line-height: 23px;
          position: relative;
          overflow: hidden; }
          #nav ul.nav .navli:nth-child(1) #menuData .menu_floor span {
            width: 75px;
            font-weight: 700;
            float: left;
            margin-right: 23px;
            text-align: right; }
            #nav ul.nav .navli:nth-child(1) #menuData .menu_floor span a {
              display: inline; }
          #nav ul.nav .navli:nth-child(1) #menuData .menu_floor .menu_floor_a {
            width: 620px;
            float: left;
            line-height: 23px;
            padding-bottom: 5px;
            border-bottom: 1px dashed #f3f3f3; }
            #nav ul.nav .navli:nth-child(1) #menuData .menu_floor .menu_floor_a a {
              margin-right: 18px;
              color: #666;
              display: inline-block; }
              #nav ul.nav .navli:nth-child(1) #menuData .menu_floor .menu_floor_a a:hover {
                text-decoration: underline; }
    #nav ul.nav .navli .lii {
      display: inline-block;
      width: 14px;
      height: 12px;
      float: left;
      margin-top: 12px;
      margin-left: 13px;
      background: url(//img.iblimg.com/respc-1/resources/v4.1/widget/nav1200/i/nav1200_sprite.png) no-repeat 0 -101px; }
    #nav ul.nav .navli .fenlei {
      display: inline-block;
      margin-left: 25px;
      color: #FFF;
      font-size: 14px;
      line-height: 35px; }
    #nav ul.nav .navli .navlia {
      font-weight: 700;
      display: block;
      height: 35px;
      position: relative;
      overflow: hidden;
      transition: all .2s ease-in 0s;
      -webkit-transition: all .2s ease-in 0s;
      color: #333;
      font-weight: 700;
      font-size: 15px; }
      #nav ul.nav .navli .navlia:hover {
        color: #ed595c; }

#banner {
  width: 100%;
  height: 430px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  #banner .benul {
    width: 100%;
    height: 430px;
    line-height: 430px;
    list-style: none;
    position: relative;
    display: inline-block; }
    #banner .benul li {
      left: 0px;
      height: 430px;
      opacity: 0;
      position: absolute;
      width: 100%;
      transition: .5s ease-in; }
      #banner .benul li:nth-child(1) {
        opacity: 1; }
      #banner .benul li a {
        margin: 0 auto;
        width: 785px;
        height: 430px;
        display: block;
        background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/loading1.gif) no-repeat center center;
        position: relative; }
  #banner .leftrightbtn {
    position: absolute;
    width: 785px;
    height: 60px;
    top: 190px;
    left: 0;
    right: 0;
    margin: 0 auto; }
    #banner .leftrightbtn .prev {
      width: 30px;
      height: 60px;
      line-height: 70px;
      margin-left: -10px;
      background-image: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/bg_direction_nav.png);
      cursor: pointer;
      pointer-events: auto;
      float: left;
      display: none; }
      #banner .leftrightbtn .prev:hover {
        background-position: 0 -60px; }
    #banner .leftrightbtn .next {
      margin-right: 10px;
      display: none;
      float: right;
      width: 30px;
      height: 60px;
      line-height: 70px;
      background-image: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/bg_direction_nav.png);
      background-position: -30px 0;
      cursor: pointer;
      pointer-events: auto; }
      #banner .leftrightbtn .next:hover {
        background-position: -30px -60px; }
  #banner .progress-bar-ol {
    height: 14px;
    line-height: 14px;
    list-style: none;
    visibility: hidden;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    z-index: 6; }
    #banner .progress-bar-ol li {
      min-width: 15px;
      *width: 25px;
      height: 14px;
      text-align: center;
      float: left;
      margin-right: 8px; }
      #banner .progress-bar-ol li a {
        width: 6px;
        height: 6px;
        display: inline-block;
        border: 1px solid #cecece;
        border-radius: 4px;
        background: #fff;
        text-indent: -999px;
        overflow: hidden; }
      #banner .progress-bar-ol li .active {
        width: 8px;
        height: 8px;
        display: inline-block;
        border: 3px solid #ccc;
        border-radius: 7px;
        background: #000;
        text-indent: -999px;
        overflow: hidden; }
  #banner .banner-recommend {
    width: 215px;
    height: 420px;
    margin-left: 380px;
    position: absolute;
    left: 50%;
    top: 5px;
    overflow: hidden;
    z-index: 12; }
    #banner .banner-recommend .banner-recommend_bg {
      width: 215px;
      height: 420px;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff; }
    #banner .banner-recommend .ban_tit0 {
      width: 187px;
      height: 96px;
      padding: 14px 14px 0;
      border-bottom: 1px solid #eee;
      position: relative;
      z-index: 5; }
      #banner .banner-recommend .ban_tit0 .ban_tit0_d1 {
        height: 69px; }
        #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_tit_tx {
          color: #666; }
          #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_tit_tx .ban_tit_txd {
            width: 130px;
            height: 40px;
            float: right;
            margin-top: 4px; }
            #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_tit_tx .ban_tit_txd p a {
              color: #666;
              text-decoration: none; }
              #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_tit_tx .ban_tit_txd p a:hover {
                color: #ff6f6f;
                text-decoration: underline; }
        #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_txta {
          width: 200px;
          margin-top: 10px; }
          #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_txta a {
            width: 185px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            border: none;
            border-radius: 1px;
            background: #fff3f5;
            color: #ff6f6f; }
            #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_txta a:hover {
              background: #ff6f6f;
              color: #fff; }
    #banner .banner-recommend .ban_tit1 {
      height: 110px;
      margin: 10px 15px 0;
      font-family: '\5FAE\8F6F\96C5\9ED1';
      background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/ban_tit11.png) no-repeat 0 0;
      position: relative;
      overflow: hidden; }
      #banner .banner-recommend .ban_tit1 .ban_more {
        padding-right: 14px;
        position: absolute;
        right: 0;
        top: 0;
        color: #999; }
        #banner .banner-recommend .ban_tit1 .ban_more:hover {
          color: #ff6f6f;
          text-decoration: underline; }
      #banner .banner-recommend .ban_tit1 .ban_qnew {
        height: 75px;
        margin-top: 30px;
        line-height: 25px; }
        #banner .banner-recommend .ban_tit1 .ban_qnew li {
          width: 178px;
          margin-left: 5px;
          line-height: 25px;
          color: #666;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          #banner .banner-recommend .ban_tit1 .ban_qnew li a {
            color: #666; }
            #banner .banner-recommend .ban_tit1 .ban_qnew li a:hover {
              text-decoration: underline;
              color: #ff6f6f; }
          #banner .banner-recommend .ban_tit1 .ban_qnew li span {
            margin-right: 6px;
            font-weight: 700; }
    #banner .banner-recommend .ban_tit2 {
      width: 217px;
      height: 182px;
      font-family: '\5FAE\8F6F\96C5\9ED1';
      position: absolute;
      bottom: 0;
      left: 0; }
      #banner .banner-recommend .ban_tit2 .ban_life {
        margin: 0 auto;
        overflow: hidden;
        border-top: 1px solid #eee; }
        #banner .banner-recommend .ban_tit2 .ban_life li {
          width: 71px;
          float: left;
          border-bottom: 1px solid #eee;
          border-right: 1px solid #eee;
          text-align: center;
          padding-top: 7px;
          height: 53px; }
          #banner .banner-recommend .ban_tit2 .ban_life li a {
            display: block;
            color: #666; }
            #banner .banner-recommend .ban_tit2 .ban_life li a:hover {
              text-decoration: underline;
              color: #ff6f6f; }
            #banner .banner-recommend .ban_tit2 .ban_life li a:hover .life_i {
              background-position: 0 -28px; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_i {
              width: 42px;
              height: 28px;
              margin: 0 auto; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_i1 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_i1.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_iz1 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_iz1.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_i4 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_i4.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_iz2 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_iz2.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_iz3 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_iz3.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_iz4 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_iz4.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_i6 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_i6.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_i9 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_i9.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_i3 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_i3.png) no-repeat 0 0; }

#main .main-czt {
  width: 100%;
  height: 250px;
  padding: 20px 0;
  background: #fff;
  overflow: hidden; }
  #main .main-czt .czt-l {
    float: left;
    overflow: hidden; }
    #main .main-czt .czt-l img {
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      #main .main-czt .czt-l img:hover {
        transform: scale(1.1); }
  #main .main-czt .czt-r {
    width: 965px;
    height: 248px;
    border: 1px solid #e4e4e4;
    float: right;
    border-left: none;
    overflow: hidden;
    position: relative; }
    #main .main-czt .czt-r ul {
      padding: 11px 0 10px; }
      #main .main-czt .czt-r ul li {
        height: 227px;
        width: 140px;
        padding: 0 10px;
        float: left; }
        #main .main-czt .czt-r ul li a img {
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          height: 140px;
          width: 140px; }
          #main .main-czt .czt-r ul li a img:hover {
            transform: scale(1.1); }
        #main .main-czt .czt-r ul li a p {
          height: 40px;
          line-height: 20px;
          overflow: hidden;
          margin-top: 0; }
          #main .main-czt .czt-r ul li a p:hover {
            text-decoration: underline; }
        #main .main-czt .czt-r ul li a .money {
          color: #ff6f6f;
          font-weight: 700;
          font-family: '\5FAE\8F6F\96C5\9ED1';
          font-size: 16px;
          line-height: 26px; }
        #main .main-czt .czt-r ul li a .price {
          display: block;
          color: #bbb;
          font-family: '\5FAE\8F6F\96C5\9ED1'; }

#main .main-tm .tm-l {
  width: 305px;
  height: 370px;
  overflow: hidden;
  float: left; }

#main .main-tm .tm-r {
  width: 885px;
  height: 370px;
  float: left; }
  #main .main-tm .tm-r ul li {
    width: 285px;
    height: 180px;
    margin-left: 10px;
    float: left;
    margin-bottom: 10px; }
    #main .main-tm .tm-r ul li a {
      width: 285px;
      height: 180px;
      display: block;
      overflow: hidden; }
      #main .main-tm .tm-r ul li a:hover {
        color: #111; }
      #main .main-tm .tm-r ul li a img {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        width: 285px;
        height: 180px; }
        #main .main-tm .tm-r ul li a img:hover {
          transform: scale(1.1); }

#main .main-like .featured_tit {
  margin: 8px 4px;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  color: #333;
  background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/guess_bg.jpg) repeat-x 0 center;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  font-weight: 400; }
  #main .main-like .featured_tit .guess_love {
    width: 255px;
    padding-left: 65px;
    height: 30px;
    margin: 0 auto;
    background: #fff url(//img.iblimg.com/respc-1/resources/v4.2/css/i/guess_love.jpg) no-repeat 30px center; }
  #main .main-like .featured_tit span {
    margin-left: 5px;
    font-size: 16px;
    color: #999; }

#main .main-like .featured_log {
  text-align: right;
  margin-bottom: 14px;
  font-size: 14px;
  font-family: '微软雅黑';
  color: #999;
  padding-right: 5px; }
  #main .main-like .featured_log a {
    color: #ff6f6f; }

#main .main-like .likething {
  width: 110%; }
  #main .main-like .likething li {
    float: left;
    height: 340px;
    margin: 0 5px;
    position: relative;
    width: 230px;
    background: #fff;
    margin-bottom: 10px; }
    #main .main-like .likething li div {
      height: 338px;
      width: 228px;
      border: 1px solid #e4e4e4;
      background: #fff;
      transition: all 1s; }
      #main .main-like .likething li div:hover {
        box-shadow: 1px 0 4px #e4e4e4, 0 1px 4px #e4e4e4, -1px 0 4px #e4e4e4, 0 -1px 4px #e4e4e4; }
      #main .main-like .likething li div img {
        height: 220px;
        width: 220px;
        padding: 4px; }
      #main .main-like .likething li div p {
        padding: 0 11px;
        margin-top: 5px;
        color: #333;
        line-height: 21px;
        height: 42px;
        overflow: hidden; }
      #main .main-like .likething li div span {
        color: #ff6f6f;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 18px;
        line-height: 26px;
        padding: 0 0 0 11px;
        height: 26px;
        margin-top: 3px;
        position: relative; }
      #main .main-like .likething li div a {
        float: right;
        padding: 0 10px 0 25px;
        height: 20px;
        margin-right: 11px;
        margin-top: 3px;
        *margin-top: -22px;
        line-height: 18px;
        *line-height: 20px;
        background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/guess_ic1.jpg) no-repeat 7px 4px;
        border: 1px solid #eee;
        color: #999;
        border-radius: 11px; }

#footer .helpnav {
  background: #f3f3f3;
  min-width: 1190px;
  padding: 24px 0;
  clear: both; }
  #footer .helpnav .wrap {
    position: relative; }
    #footer .helpnav .wrap .footer-center {
      width: 1100px;
      margin: 0 auto; }
      #footer .helpnav .wrap .footer-center .helpnav-list {
        float: left;
        width: 200px;
        margin: 0 10px;
        display: inline-block; }
        #footer .helpnav .wrap .footer-center .helpnav-list .helpnav-title {
          height: 40px;
          line-height: 40px;
          color: #000;
          font-size: 16px; }
          #footer .helpnav .wrap .footer-center .helpnav-list .helpnav-title i {
            display: inline-block;
            float: left;
            margin-right: 15px;
            width: 40px;
            height: 40px;
            overflow: hidden; }
          #footer .helpnav .wrap .footer-center .helpnav-list .helpnav-title i.footic1 {
            background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 0; }
        #footer .helpnav .wrap .footer-center .helpnav-list ul {
          margin-left: 55px;
          font-size: 13px;
          line-height: 26px;
          color: #555; }
        #footer .helpnav .wrap .footer-center .helpnav-list .helpnav-title i.footic2 {
          background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 -40px; }
        #footer .helpnav .wrap .footer-center .helpnav-list .helpnav-title i.footic3 {
          background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 -80px; }
        #footer .helpnav .wrap .footer-center .helpnav-list .helpnav-title i.footic4 {
          background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 -120px; }
        #footer .helpnav .wrap .footer-center .helpnav-list .helpnav-title i.footic5 {
          background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 -160px; }

#footer .bottom-nav {
  line-height: 24px;
  text-align: center;
  padding: 15px 0 0;
  color: #999;
  background: #f3f3f3; }

#navigation {
  width: 50px;
  height: 50px;
  float: left;
  position: fixed;
  right: 50%;
  bottom: 50%;
  background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/barnav3.jpg) no-repeat 0 0;
  margin-bottom: -230px;
  left: 15%; }
  #navigation a {
    width: 50px;
    height: 49px;
    display: block; }
    #navigation a:hover .box {
      background: #ff6f6f;
      color: #fff; }
    #navigation a:hover .i9 {
      background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/bantop.png) no-repeat 0 -50px; }
    #navigation a .box {
      width: 30px;
      height: 42px;
      line-height: 16px;
      padding: 0 10px;
      padding-top: 7px;
      font-family: '微软雅黑';
      text-align: center;
      overflow: hidden;
      cursor: pointer; }
    #navigation a .i9 {
      width: 50px;
      height: 50px;
      padding: 0;
      background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/bantop.png) no-repeat 0 0;
      text-indent: -999px; }

.right-slidebar {
  width: 314px;
  position: fixed;
  right: -319px;
  top: 0;
  color: #fff;
  z-index: 1111111; }

#rsidein {
  background: #333; }

#nosidederty {
  background: #333; }

#rsidein > div {
  cursor: pointer; }

.login {
  font-size: 12px;
  position: absolute;
  top: 100px;
  z-index: 99; }

.sidecss {
  height: 40px;
  font-size: 12px;
  width: 38px;
  background: #333;
  text-align: center;
  margin: 2px 0;
  line-height: 40px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease; }

.history i {
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -80px; }

.service {
  position: absolute;
  top: 500px; }

.qrcode i {
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -200px; }

.service i {
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -240px; }

.mui-mbar-tab-tip {
  opacity: 1;
  display: none;
  position: absolute;
  width: 0;
  line-height: 40px;
  right: 38px;
  top: -17px;
  border: 1px solid #DDD;
  color: #000;
  background-color: #FFF;
  overflow: hidden;
  cursor: default;
  border-top-left-radius: 8%;
  border-bottom-left-radius: 8%; }

.shopcar {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  height: 174px;
  position: absolute;
  top: 160px;
  width: 43px;
  right: 0;
  z-index: 99999;
  background-color: #333;
  font-family: 'Microsoft YaHei'; }

.collection {
  position: absolute;
  top: 330px;
  z-index: 98; }

.history {
  position: absolute;
  top: 390px;
  z-index: 97; }

.suggest {
  position: absolute;
  top: 400px;
  display: none; }

.sidecss {
  height: 40px;
  font-size: 12px;
  width: 38px;
  background: #333;
  text-align: center;
  margin: 2px 0;
  line-height: 40px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease; }

.qrcode {
  position: absolute;
  top: 450px; }

.activity {
  font-size: 12px;
  position: absolute;
  top: 60px;
  z-index: 99;
  display: none; }

.mui-mbar-tab-normal-arr {
  position: absolute;
  top: 14px;
  right: 0;
  display: none;
  width: 6px;
  height: 12px;
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat 0 -108px;
  border: 0; }

.mui-mbar-tab {
  position: relative;
  z-index: 999;
  top: 15px; }

.login i {
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 0; }

.shopcar i {
  width: 24px;
  height: 18px;
  margin-top: 36px;
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -365px;
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.shopcar span {
  margin-top: 10px;
  line-height: 15px;
  display: block;
  font-size: 14px; }

.shopcar b {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e6133c;
  text-align: center;
  display: block;
  line-height: 18px;
  color: #FFF;
  margin-top: 10px; }

b {
  font-weight: bold; }

.mui-mbar-tab-normal-arr {
  position: absolute;
  top: 14px;
  right: 0;
  display: none;
  width: 6px;
  height: 12px;
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat 0 -108px;
  border: 0; }

.mui-mbar-tab-tip {
  opacity: 1;
  display: none;
  position: absolute;
  width: 0;
  line-height: 40px;
  right: 38px;
  top: -17px;
  border: 1px solid #DDD;
  color: #000;
  background-color: #FFF;
  overflow: hidden;
  cursor: default;
  border-top-left-radius: 8%;
  border-bottom-left-radius: 8%; }

.mui-mbar-tab-tip .tip_con {
  width: 86px;
  font-size: 14px;
  color: #333;
  font-family: 'Microsoft YaHei'; }

.right-slidebar-main > div:hover {
  background-color: #e6133c; }

.collection i {
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -40px; }

.mui-mbar-tab-tip-arr {
  position: absolute;
  top: 15px;
  right: -6px;
  width: 6px;
  height: 12px;
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat -6px -108px; }

.mui-mbar-tab {
  position: relative;
  z-index: 999;
  top: 15px; }

.cartbar_co {
  width: 43px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -360px; }

.mui-mbar-tab-cart-arr {
  position: absolute;
  top: 82px;
  right: 0;
  z-index: 999990;
  width: 6px;
  height: 12px;
  display: none;
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat 0 -108px; }

.sidecss i {
  width: 38px;
  height: 40px;
  float: left;
  display: inline; }

.totop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 38px;
  height: 40px;
  text-align: center;
  background: #333;
  line-height: 40px;
  display: none; }

.sidecss {
  height: 40px;
  font-size: 12px;
  width: 38px;
  background: #333;
  text-align: center;
  margin: 2px 0;
  line-height: 40px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease; }

.right-slidebar-main {
  width: 38px;
  position: absolute;
  left: 0;
  top: 0;
  background: #333;
  z-index: 999999;
  height: 100%; }

.divimg {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 350px;
  top: 650px;
  z-index: 999999999999;
  display: none; }
  .divimg img {
    width: 100%;
    height: 100%; }
