.margin {
    width: 1200px;
    margin: 0 auto;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    text-align: center;
    font-family: "Microsoft Yahei";
    border: 0 none;
    transition: all .08s ease-in;
    -moz-transition: all .08s ease-in;
    -ms-transition: all .08s ease-in;
    -o-transition: all .08s ease-in;
    -webkit-transition: all .08s ease-in;
    outline: 0;
}

.btn-primary {
    color: #fff;
    background: #E6133C;
    font-size: 16px;
    height: 36px;
    width: 100%;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#tool {
    line-height: 30px;
    height: 30px;
    background-color: #f7f7f7;
    min-width: 1190px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e9e9e9;
    font-family: 'Microsoft YaHei';
    position: relative;

    a {
        color: #666;
        font-family: 'Microsoft YaHei';
    }

    span {
        // color: #666;
        font-family: 'Microsoft YaHei';
    }

    .tool-l {
        float: left;



        .logo {
            float: left;
            width: 156px;
            height: 30px;
            color: #8d8d8d;
            background: url(../images/bl_logo_m.png) no-repeat left;
            padding: 0 12px 0 18px;
        }

        .tool-l-t {
            float: left;
            padding: 0 10px;
            border-left: 1px solid #f7f7f7;
            border-right: 1px solid #f7f7f7;
            position: relative;

            &:hover {
                background-color: #fff;
                border-left: 1px solid #e2e2e2;
                border-right: 1px solid #e2e2e2;
                z-index: 1111;
                box-shadow: 0 0 2px #CCC;
            }

            &:hover .divshow {
                display: inline;
                z-index: 1;
            }

            &:hover .left-span {
                display: block;
            }

            span {
                float: left;
            }

            i {
                float: left;
                display: inline-block;
                width: 7px;
                height: 4px;
                margin-left: 7px;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -40px;
                margin-top: 13px;
                transition: all .1s ease-in 0s;
                -webkit-transition: all .1s ease-in 0s;
            }

            ul {
                display: none;

            }
        }

        .tool-info {
            width: 30px;
            float: left;
            display: inline;
            height: 30px;
            line-height: 30px;
            margin-left: 10px;
            text-align: center;
            position: relative;
        }
    }

    .tool-r {
        float: right;

        ul {
            li {
                padding: 0 10px;
                float: left;
                position: relative;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                display: inline;
                height: 30px;
                line-height: 30px;
                margin-left: -1px;

                i {
                    float: left;
                    display: inline-block;
                    width: 7px;
                    height: 4px;
                    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -40px;
                    margin-top: 13px;
                    transition: all .1s ease-in 0s;
                    -webkit-transition: all .1s ease-in 0s;
                }

                .hi {
                    float: left;
                }

                .username {
                    float: left;
                    display: inline-block;
                    max-width: 84px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .boxi {
                    float: left;
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -15px;
                    margin-top: 8px;
                }

                .login {
                    display: inline-block;
                    float: left;
                }

                &:hover {
                    background-color: #FFF;
                    box-shadow: 0 0 2px #ccc;
                    border-left: 1px solid #e2e2e2;
                    border-right: 1px solid #e2e2e2;
                    z-index: 2;
                }

                &:hover .divshow {
                    display: block;
                }

                &:hover .left-span {
                    display: block;
                }

                &:first-child {
                    a {
                        display: inline-block;
                    }
                }

                a {
                    float: left;
                    display: inline-block;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 5px;
                    color: #666;

                    &:hover {
                        color: #ff6f6f;
                    }
                }
            }

        }
    }

    .divshow {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #e2e2e2;
        box-shadow: 0 0 2px #CCC;
        top: 30px;
        width: 85px;
        left: -1px;
        padding: 5px 0;

        dl {
            dd {
                line-height: 24px;

                a {
                    padding: 0 10px;
                    height: 24px;
                    line-height: 24px;
                    display: block;
                    color: #666;
                }
            }
        }



    }

    .pay {
        padding: 15px;
        width: 450px;
        left: 50%;
        margin-left: -240px;

        .pay-dl {
            width: 450px;
            overflow: hidden;

            dd {
                float: left;
                width: 100px;
                padding: 0 5px;
                margin-left: -1px;
                border-left: 1px dashed #e9e9e9;
                height: 126px;

                .pay-title {
                    line-height: 26px;
                    height: 30px;
                    font-weight: 700;
                    font-size: 14px;
                    color: #333;
                    padding: 0 10px;
                }

                .pay-head {
                    line-height: 24px;
                }
            }
        }
    }

    .palm {
        width: 310px;
        left: 50%;
        margin-left: -214px;
        border: 1px solid #e2e2e2;
        overflow: hidden;
        z-index: 1111;

        .palm-item {
            float: left;
            margin-left: 8px;
            width: 141px;
            text-align: center;
            padding: 20px 0 4px;
        }
    }

    .left-span {
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        top: 28px;
        background-color: #FFF;
        z-index: 2;
        display: none;
    }

    .left-show {
        left: -1px;
        padding: 7px 12px;
        width: 222px;

        .left-show-dl {
            width: 222px;
            line-height: 24px;

            dl {
                dd {
                    padding: 0 5px;
                    width: 100px;
                    float: left;
                    margin-left: 1px;

                    a {
                        padding: 0 10px;
                        color: #666;
                        display: block;
                    }
                }
            }
        }
    }
}

#header {
    height: 96px;

    .logo {
        width: 410px;
        height: 60px;
        margin-top: 18px;
        float: left;

        .logo-l {
            width: 190px;
            float: left;
        }

        .logo-r {
            float: left;
            margin-left: 25px;
        }
    }

    .header-l {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        float: left;

        form {
            margin-top: 25px;

            .txtbox {
                float: left;
                padding: 0px 0 0px 2px;
                border: 2px solid #ff3d3d;
                position: relative;

                .searchtxt {
                    height: 19px;
                    line-height: 19px;
                    border: 0;
                    width: 406px;
                    font-size: 13px;
                    font-family: 'Microsoft YaHei';
                    background: 0 0;
                    vertical-align: middle;
                    padding: 6px 0;
                    outline: none;
                    text-indent: 1em;
                }
            }

            .searchbtn {
                float: left;
                height: 35px;
                width: 85px;
                border: 0;
                cursor: pointer;
                background: #ff3d3d url(//img.iblimg.com/respc-1/resources/v4.2/widget/header1200/i/ser_btnbg.png) no-repeat center center;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                color: #fff;
                font-size: 14px;
            }
        }
    }

    .header-search-font {
        a {
            color: #999;
            float: left;
            margin-right: 5px;
            margin-left: 5px;
            display: inline-block;
        }

        span {
            float: left;
            color: #e5e5e5;
            margin-left: 5px;
            display: inline-block;
        }
    }

    .header-r {
        float: left;
        margin-left: 50px;
        height: 35px;
        margin-top: 25px;

        a {
            height: 33px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            -webkit-border-radius: 3px;
            border: 1px solid #d7d7d7;
            display: inline-block;
            margin-left: 2px;
            color: #666;
            overflow: hidden;
            padding: 0 19px 0 12px;
            float: left;
            background: #fff url(//img.iblimg.com/respc-1/resources/v4.2/widget/header1200/i/header-right-icon.png) no-repeat right 12px;
            line-height: 33px;
            font-family: 'Microsoft YaHei';
        }
    }
}

#nav {
    height: 35px;
    border-bottom: 2px solid #151515;
    background: #fff;
    position: relative;

    ul.nav {
        .navli {
            line-height: 35px;
            padding: 0 18px;
            position: relative;

            &:nth-child(1) {
                background: #151515;
                cursor: pointer;
                height: 35px;
                padding: 0;
                width: 190px;
                position: relative;

                .selectbg {
                    display: none;
                    width: 190px;
                    height: 430px;
                    position: absolute;
                    left: 0;
                    top: 35px;
                    background: #151515;
                    z-index: 111;
                }

                .select {
                    display: none;
                    position: relative;
                    overflow: hidden;
                    height: 412px;
                    padding: 11px 0 9px;
                    z-index: 111;
                    transition: .5s ease-in;

                    .selectli {
                        height: 29px;
                        line-height: 29px;
                        width: 100%;
                        padding-left: 16px;
                        cursor: pointer;
                        color: #fff;
                        font-family: 'Microsoft YaHei';

                        &:hover {
                            background-color: #888;
                        }

                        i {
                            float: left;
                            width: 16px;
                            height: 16px;
                            margin-top: 7px;
                            display: inline-block;
                            line-height: 16px;
                            font-size: 16px;
                            background: url(//img.iblimg.com/respc-1/resources/v4.1/widget/nav1200/i/nav-v3-icon-1.png) no-repeat;
                        }

                        .jinkou {
                            background-position: 0 0;
                        }

                        .shengxian {
                            background-position: 0 -30px;
                        }

                        .shipin {
                            background-position: 0 -60px;
                        }

                        .huli {
                            background-position: 0 -90px;
                        }

                        .jiaju {
                            background-position: 0 -150px;
                        }

                        .muying {
                            background-position: 0 -120px;
                        }

                        .lengdong {
                            background-position: 0 -180px;
                        }

                        .fuzhuang {
                            background-position: 0 -210px;
                        }

                        .xiangbao {
                            background-position: 0 -240px;
                        }

                        .sanc {
                            background-position: 0 -270px;
                        }

                        .jiadian {
                            background-position: 0 -300px;
                        }

                        .qiche {
                            background-position: 0 -330px;
                        }

                        .yiliao {
                            background-position: 0 -360px;
                        }

                        .cardbook {
                            background-position: 0 -390px;
                        }
                    }

                    .selects {
                        float: left;
                        margin-left: 10px;
                        display: inline-block;
                        font-size: 13px;

                        .selectsa {
                            color: #fff;
                            text-decoration: none;
                            float: left;
                            margin-left: 10px;
                            display: inline-block;
                            font-size: 13px;
                            font-weight: 500;

                            &:hover {
                                color: #111;
                            }
                        }
                    }

                }

                #menuData {
                    position: absolute;
                    top: 36px;
                    left: 190px;
                    z-index: 11111;
                    background-color: #fff;
                    display: none;

                    .gb-icon {
                        display: none;
                        width: 31px;
                        height: 31px;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background: url(//img.iblimg.com/respc-1/resources/v4.1/widget/nav1200/i/nav1200_sprite.png) no-repeat 0 -70px;
                    }

                    li {
                        width: 984px;
                        height: 416px;
                        display: none;
                        padding: 8px;
                        overflow: hidden;
                    }

                    .menu_right_img {
                        width: 240px;
                        height: 422px;
                        float: right;

                        a {
                            margin-bottom: 9px;

                        }
                    }

                    .menu_floor {
                        width: 725px;
                        margin: 10px 0 0 5px;
                        line-height: 23px;
                        position: relative;
                        overflow: hidden;

                        span {
                            width: 75px;
                            font-weight: 700;
                            float: left;
                            margin-right: 23px;
                            text-align: right;

                            a {
                                display: inline;
                            }
                        }

                        .menu_floor_a {
                            width: 620px;
                            float: left;
                            line-height: 23px;
                            padding-bottom: 5px;
                            border-bottom: 1px dashed #f3f3f3;

                            a {
                                margin-right: 18px;
                                color: #666;
                                display: inline-block;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }


            .lii {
                display: inline-block;
                width: 14px;
                height: 12px;
                float: left;
                margin-top: 12px;
                margin-left: 13px;
                background: url(//img.iblimg.com/respc-1/resources/v4.1/widget/nav1200/i/nav1200_sprite.png) no-repeat 0 -101px;


            }

            .fenlei {
                display: inline-block;
                margin-left: 25px;
                color: #FFF;
                font-size: 14px;
                line-height: 35px;
            }

            .navlia {
                font-weight: 700;
                display: block;
                height: 35px;
                position: relative;
                overflow: hidden;
                transition: all .2s ease-in 0s;
                -webkit-transition: all .2s ease-in 0s;
                color: #333;
                font-weight: 700;
                font-size: 15px;

                &:hover {
                    color: #ed595c;
                }
            }
        }
    }
}

detail {
    overflow: hidden;
    font-family: \5FAE\8F6F\96C5\9ED1;

    .seller {
        clear: both;
        *zoom: 1;
        width: 100%;
        padding: 10px 0 20px;
        border-bottom: 1px solid #eee;
        margin-bottom: 30px;
    }

    .emption {
        font-family: \5FAE\8F6F\96C5\9ED1;
        margin: 20px 0 0;
        position: relative;
        width: 100%;
        color: #333;
        overflow: hidden;

        h2 {
            font-size: 18px;
            color: #333;
        }

        .product-table {
            margin: 25px auto;
        }
    }
}

.crumb {
    float: left;
    font-family: SimSun;
    line-height: 24px;
    width: 630px;
    padding-top: 13px;

    a {
        color: #333;
    }
}

.seller .seller-name {
    float: right;
    line-height: 50px;
}

.seller .seller-logo {
    width: 118px;
    height: 44px;
    border: 1px solid #eee;
    overflow: hidden;
    float: right;
    text-align: center;
}

.seller {
    clear: both;
    *zoom: 1;
    width: 100%;
    padding: 10px 0 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;


}

.product-intro .intro-left {
    float: left;
    width: 450px;

    .spec-preview {
        width: 448px;
        height: 448px;
        border: 1px solid #eee;
        overflow: hidden;

        .jqzoom {
            margin: 0;
            padding: 0;
            float: left;
            position: relative;
            display: block;
            border: none;
            cursor: pointer;
            z-index: 102;

            .load-video {
                position: relative;
                z-index: 1000;
            }

            .jqzoom-body {
                width: 450px;
                height: 450px;
                line-height: 450px;
                text-align: center;
                vertical-align: middle;
                display: inline;
                float: left;
                overflow: hidden;
                position: relative;
            }
        }


    }

    .spec-scroll {
        margin-top: 15px;
        clear: both;
        height: 80px;

        .prev {
            float: left;
            background-position: -220px 0;
        }

        .next {
            float: right;
            background-position: -260px 0;
        }

        a {
            display: block;
            width: 38px;
            height: 78px;
            line-height: 78px;
            text-align: center;
            cursor: pointer;
            color: #ccc;
            background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/ie7-start.png) no-repeat;
            border: 1px solid #eee;
        }

        .items {
            float: left;
            position: relative;
            overflow: hidden;
            width: 360px;
            height: 80px;
            margin: 0;
            padding: 0 5px;
        }

        .items ul {
            position: absolute;
            width: 999999px;
            height: 60px;

            li {
                float: left;
                width: 90px;
                text-align: center;

                .itemborder {
                    border: 1px solid #ec595c;
                }

                img {
                    width: 78px;
                    height: 78px;
                    border: 1px solid #eee;
                    background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/loading58x58.gif) center no-repeat;


                }
            }
        }
    }

    .intro-left .intro-meno-left {
        margin: 15px 0 0;
        height: 30px;
        line-height: 32px;
        color: #666;
        position: relative;
    }
}

.details {
    float: right;
    width: 710px;

    .goods-name {
        font: 20px/1.3 Microsoft Yahei;

        h1 {
            color: #333;
            line-height: 34px;
            margin-top: -8px;
            padding-bottom: 10px;

            em.late {
                width: 70px;
                height: 20px;
                line-height: 20px;
                float: left;
                display: inline;
                background: #be4141;
                font-size: 14px;
                font-weight: 700;
                color: #fff;
                text-align: center;
                margin: 9px 6px 0 0;
            }
        }

        .title {
            color: #333;
            line-height: 24px;
        }

        div {
            font: 14px/2 Microsoft Yahei;
            color: #ec595c;
        }
    }
}

.goods-price {
    width: 710px;
    min-height: 68px;
    background: #f9f9f9;
    color: #333;
    font-family: "Microsoft Yahei";
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;

    .price-line {
        width: 690px;
        height: 48px;
        line-height: 48px;
        margin: 8px 0 0 10px;
        float: left;
        display: inline;

        i {
            font-size: 18px;
            font-family: verdana;
        }

        .black {
            color: #333;
            margin-right: 23px;
            width: 52px;
            float: left;
            display: inline;
        }

        .price {
            color: #ec595c;
            font-size: 30px;
            font-family: Arial;
            margin-right: 12px;
            float: left;
            display: inline;
        }

        .gral {
            float: right;
            color: #999;
            padding: 0 20px;
            background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/purchase.png) no-repeat;
            background-position: -696px -121px;
            position: relative;
            cursor: pointer;
        }
    }
}

.min-hight {
    min-height: 152px;
    float: left;

    .send-service {
        margin: 5px 0;

        .dl dd {
            line-height: 26px;
        }
    }

    .pay-sevice {
        width: 710px;
    }

    .choose-type {
        width: 710px;
        height: auto;
        font-family: "Microsoft Yahei";
    }


}

.pull-down {
    position: relative;

    .pull-list {
        height: 25px;
        line-height: 25px;
        border: 1px solid #ddd;
        padding: 0 40px 0 10px;
        color: #333;
        position: relative;
        float: left;
        cursor: pointer;

        i {
            background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/com_ico.png) 0 -5px no-repeat;
            width: 9px;
            height: 5px;
            padding-left: 10px;
            position: absolute;
            display: block;
            right: -3px;
            top: 10px;
        }
    }

    .drop-down {
        padding: 10px;
        position: absolute;
        width: 360px;
        border: 1px solid #ddd;
        background: #fff;
        left: 0;
        top: 26px;
        z-index: 22;
    }


}

.stock {
    float: left;
    margin-left: 10px;
    color: #333;
    line-height: 26px;

}

dl {
    padding: 5px 0;
    float: left;
    display: inline;
    width: 710px;
    font-family: "Microsoft Yahei";

    dt {
        padding-left: 10px;
        float: left;
        width: 62px;
        line-height: 22px;
        color: #333;
        font-family: "Microsoft Yahei";
        height: 22px;
    }

    dd {
        margin-left: 20px;
        float: left;
        width: 600px;

        .message-line {
            height: 18px;
            line-height: 18px;
            margin-top: 3px;
            display: inline;
            font-family: "Microsoft Yahei";
        }

        span {
            float: left;
            display: inline;
        }
    }
}

.choose-type {
    width: 710px;
    height: auto;
    font-family: "Microsoft Yahei";

    .type-table {
        background: #fff;
        float: left;
        display: inline;
        width: 708px;
        position: relative;
    }

    .error-table {
        display: none;
        color: #ec595c;
        padding-left: 85px;
        width: 623px;
        position: absolute;
        bottom: -30px;
        left: -1px;
        height: 32px;
        background: #fff;
        border: 1px dashed #ec595c;
        border-top: 0 none;
        line-height: 32px;
    }

    dl {
        width: 708px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 1px dashed #ffff;

        dt {
            padding-left: 10px;
            line-height: 30px;
        }
    }
}

.color-list {
    max-width: 490px;
    height: auto;
    line-height: 30px;
    margin-top: -10px;
    float: left;
    display: inline;

    li {
        margin-right: 11px;
        margin-top: 10px;
        height: 28px;
        color: #333;
        line-height: 28px;
        padding: 0 10px;
        float: left;
        border: 1px solid #d2d2d2;
        cursor: pointer;

        &:hover {
            color: #000;
            border-color: #ec595c;
        }

    }

    li.select {
        background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/color-select.png) no-repeat right bottom;
        color: #000;
        height: 26px;
        line-height: 26px;
        padding: 0 12px;
        border: 2px solid #ec595c;
        z-index: 99;
    }
}

.item-quantity {
    line-height: 28px;

    .wrap-input {
        margin: 0 20px 0 0;
        float: left;
    }

    button.btn-add {
        top: -1px;
        background: #fff;

        &:hover {
            border: 1px solid #999;
            background: #fff;
        }
    }

    input {
        width: 50px;
        height: 26px;
        line-height: 26px;
        float: left;
        margin: 0;
        padding: 0;
        border-top: 1px solid #d2d2d2;
        border-bottom: 1px solid #d2d2d2;
        border-left: 0;
        border-right: 0;
        text-align: center;
    }

    button {
        line-height: 10px;
        width: 28px;
        height: 28px;
        text-align: center;
        float: left;
        border: 1px solid #d2d2d2;
        color: #999;
        font-size: 20px;
    }
}

.service-line .service-on {
    background-position: -162px -182px;
}

.item-quantity button.btn-down-disable {
    background: #eee;
    cursor: not-allowed;
    color: #d2d2d2;
}

.buy-cart {
    margin-top: 10px;
    position: relative;
    height: 45px;

    .collect {
        width: 48px;
        height: 28px;
        float: left;
        border: 1px solid #d2d2d2;
        background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/purchase.png) no-repeat;
        background-position: -419px -48px;
        text-align: center;
        padding: 20px 0 0;
        color: #999;
        line-height: 28px;

        &:hover {
            color: #666;
            background-position: -419px -109px;
        }
    }

    .btn-line {
        float: left;
        display: inline;

        button {
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            border: 0 none;
            font-family: "Microsoft Yahei";
            cursor: pointer;
            width: 170px;
            float: left;
            display: inline;
            text-align: center;
            border-radius: 2px;
            margin-right: 10px;
            height: 50px;
            line-height: 48px;
        }

        .buy-now {
            color: #ec595c;
            border: 1px solid #ec595c;
            width: 168px;
            height: 50px;
            background: #fff8f9;

            &:hover {
                background: #fff;
            }
        }

        .btn-buy {
            background: #ec595c;

            &:hover {
                background: #fe6e71;
            }
        }
    }
}

.service-line {
    clear: both;
    margin-top: 10px;
    overflow: hidden;

    li {
        color: #666;
        float: left;
        padding: 0 20px 0 12px;
        background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/purchase.png) no-repeat;
        background-position: -162px -138px;
    }
}

.buy-cart {
    margin-top: 10px;
    position: relative;
    height: 45px;
}

.intro-left .intro-meno-left {
    margin: 15px 0 0;
    height: 30px;
    line-height: 32px;
    color: #666;
    position: relative;

    a {
        float: left;
        color: #333;
        display: inline;
    }

    .number {
        line-height: 38px;
        width: 146px;
        height: 38px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        float: right;
    }
}

.share-list-detail {
    position: relative;
    display: none;
    z-index: 99;
    *margin-top: 10px;
    width: 70px;
}

.intro-meno-left .share-list-detail .bshare-sinaminiblog {
    width: 30px;
    height: 30px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/sharenew.png) no-repeat 0 0;
    float: left;
}

.share-list {
    padding: 2px 20px 10px;
    width: 68px;
    background: #fff;
    border: 1px solid #fff;
    *padding-bottom: 0;
    cursor: pointer;
    float: left;
    position: absolute;
    height: 70px;
    top: 0;
    left: 0;

    .shar-list-icon {
        padding-left: 19px;
        width: 25px;
        background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/ie7-start.png) no-repeat 1px -85px;
    }
}

.praise {
    width: 600px;
    padding: 20px 0 20px 84px;
    float: left;
    color: #333;
    font-size: 14px;
    font-family: \5FAE\8F6F\96C5\9ED1;

    .blue {
        color: #51b8f1;
        padding-right: 20px;
        cursor: pointer;
        position: relative;
        height: 20px;
    }

    a {
        float: left;
        padding: 0 5px 0 0;
    }
}

.seller .seller-name {
    float: right;
    line-height: 50px;
}

.emption,
.emption-mend {
    font-family: \5FAE\8F6F\96C5\9ED1;
    margin: 20px 0 0;
    position: relative;
    width: 100%;
    color: #333;
    overflow: hidden;
}

.emption h2,
.emption-mend h2 {
    font-size: 18px;
    color: #333;
}

.emption .currer,
.emption .currer-mend,
.emption-mend .currer,
.emption-mend .currer-mend {
    position: absolute;
    right: -10px;
    top: 0;
    font-size: 14px;
}

.emption .currer a,
.emption .currer-mend a,
.emption-mend .currer a,
.emption-mend .currer-mend a {
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
}

.emption .currer span,
.emption .currer-mend span,
.emption-mend .currer span,
.emption-mend .currer-mend span {
    float: left;
}

.emption .emption-box,
.emption .emption-box-mend,
.emption-mend .emption-box,
.emption-mend .emption-box-mend {
    width: 1190px;
    height: 300px;
    margin: 15px 0;
    overflow: hidden;
    position: relative;
}

.emption .emption-scroll,
.emption-mend .emption-scroll {
    position: absolute;
    left: 0;
    top: 0;
    width: 4800px;
}

.emption li,
.emption-mend li {
    width: 200px;
    height: 274px;
    border: 1px solid #eaeaea;
    float: left;
    margin: 0 15px 0 0;
    padding: 12px;
    overflow: hidden;
    color: #333;
}

.emption .picture,
.emption-mend .picture {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    background: #eaeaea;
}

.emption .name,
.emption-mend .name {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 10px 0;
    height: 38px;
    width: 200px;
    display: block;
}

.emption img,
.emption-mend img {
    margin: 0 auto;
    display: block;
}

.emption .price,
.emption-mend .price {
    color: #ec595c;
    font-weight: 600;
}

.proinfo-left {
    float: left;
    width: 210px;
    overflow: hidden;

    .unit {
        border: 1px solid #eaeaea;

        .pro-class li {
            float: left;
            position: relative;
            width: 208px;

            .pro-show {
                width: 200px;
                padding: 4px;
                height: 280px;
                min-height: 280px;
                font-family: \5FAE\8F6F\96C5\9ED1;

                .pro-img {
                    height: 200px;
                    width: 200px;
                }

                .pro-name {
                    line-height: 20px;
                    color: #333;
                    width: 186px;
                    padding: 0 2px;
                    height: 40px;
                    margin: 8px auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .pro-money {
                    height: 28px;
                    position: relative;
                    width: 186px;
                    margin: 0 auto;
                    padding: 0 2px;
                    border-bottom: 1px solid #eee;
                    color: #ec595c;
                    font-weight: 600;
                }
            }
        }
    }

    .unit-title {
        line-height: 40px;
        text-align: center;
        color: #333;
        font-family: "Microsoft YaHei";
        font-size: 16px;
        background: #f6f6f6;
        border-bottom: 1px solid #eaeaea;
        font-weight: 600;
    }


}

.proinfo-main {
    float: right;
    width: 960px;

    .product-tab-fixed {
        font-family: \5FAE\8F6F\96C5\9ED1;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        min-width: 1190px;
        height: 54px;
        z-index: 999;

        .fixed-border {
            width: 1188px;
            border: 1px solid #eaeaea;
            height: 54px;
            background-color: #fff;
            position: relative;

            .item-message {
                width: 215px;
                height: 40px;
                float: left;
                display: inline;
                position: relative;
                padding: 7px;
                border-right: 1px solid #eaeaea;
            }
        }



    }

    .product-tab {
        margin-top: -1px;
        width: 958px;
        border-width: 1px 0;
        float: left;
        background: #fff;

        li {
            width: 158px;
            height: 54px;
            line-height: 54px;
            float: left;
            display: inline;
            position: relative;
            color: #333;
            font-size: 16px;

            &:hover .name {
                color: #ec595c;
            }

            .name {
                width: 158px;
                height: 54px;
                line-height: 54px;
                color: #666;
                text-align: center;
                float: left;
                display: inline;
                border-right: 1px solid #eaeaea;
                margin-right: -1px;
            }
        }

        li.select {
            width: 158px;
            margin-left: -1px;
            color: #ec595c;
            border-left: 1px solid #eaeaea;
            border-right: 1px solid #eaeaea;
            background: #fff;

            .name {
                color: #ec595c;
                border-bottom: 1px solid #fff;
            }
        }
    }

    .product-tab {
        width: 958px;
        height: 54px;
        line-height: 54px;
        border: 1px solid #eaeaea;
        background: #f6f6f6;
        font-family: \5FAE\8F6F\96C5\9ED1;
        position: relative;

        .app-tab {
            float: right;
            margin-right: 22px;
            right: 0;
        }
    }

    .goods-details-box {
        margin: -1px auto 20px auto;
        width: 958px;
        border-left: 1px solid #eaeaea;
        border-right: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        overflow: hidden;
    }

    .page-show {
        text-align: center;
        height: 26px;
        padding-top: 70px;
        clear: both;
        font-family: 'Microsoft YaHei';
    }

    .emption-mend {
        margin: 40px 0 0;
    }
}

.product-tab .app,
.product-tab-fixed .app {
    height: 54px;
    color: #333;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/purchase.png) no-repeat;
    background-position: -500px -86px;
    padding: 0 45px 0 0;
    margin-left: 20px;
    cursor: pointer;
    float: left;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 197px;
}

.product-tab .app:hover .goapp,
.product-tab-fixed .app:hover .goapp {
    display: block;
}

.product-tab .app .goapp span,
.product-tab-fixed .app .goapp span {
    color: #ec595c;
    font-size: 16px;
    padding: 0 50px 0 9px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/purchase.png) no-repeat;
    background-position: -491px -169px;
    float: left;
    margin-bottom: 10px;
    height: 30px;
    line-height: 33px;
}

.product-tab .app .goapp,
.product-tab-fixed .app .goapp {
    display: none;
    z-index: 9;
    width: 130px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: -1px;
    left: -20px;
}

.product-tab .app .goapp em,
.product-tab-fixed .app .goapp em {
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
}

.product-tab {
    width: 958px;
    height: 54px;
    line-height: 54px;
    border: 1px solid #eaeaea;
    background: #f6f6f6;
    font-family: \5FAE\8F6F\96C5\9ED1;
    position: relative;
}

.proinfo-main .goods-details-con {
    margin: 0 auto;
    padding-top: 20px;
    width: 920px;
    font-size: 12px;
}

.server-title {
    height: 35px;
    background: #f9f9f9;
    border: 1px solid #eee;
    line-height: 35px;
}

.directions {
    padding: 21px 29px 24px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;

    .sub-title {
        line-height: 25px;
        color: #555;
        font-size: 14px;
        font-weight: 700;
    }

    .detail-con {
        padding-bottom: 33px;
        line-height: 22px;
        color: #333;
    }

    .sub-title {
        line-height: 25px;
        color: #555;
        font-size: 14px;
        font-weight: 700;
    }

    .detail-con {
        padding-bottom: 33px;
        line-height: 22px;
        color: #333;
    }

    .sub-title {
        line-height: 25px;
        color: #555;
        font-size: 14px;
        font-weight: 700;
    }

    .detail-con {
        padding-bottom: 33px;
        line-height: 22px;
        color: #333;
    }

    .sub-title {
        line-height: 25px;
        color: #555;
        font-size: 14px;
        font-weight: 700;
    }

    .detail-con {
        padding-bottom: 33px;
        line-height: 22px;
        color: #333;
    }

    .directions-detail-line {
        width: auto;
        height: 24px;
        line-height: 24px;
        margin-top: 30px;
        color: #ff4c61;
        font-size: 16px;
        font-weight: 700;
    }

    .directions-detail-line-message {
        width: auto;
        height: 24px;
        line-height: 24px;
        color: #333;
        margin-left: 30px;
    }

    .directions .directions-detail-line {
        width: auto;
        height: 24px;
        line-height: 24px;
        margin-top: 30px;
        color: #ff4c61;
        font-size: 16px;
        font-weight: 700;
    }

    .directions-detail-line {
        width: auto;
        height: 24px;
        line-height: 24px;
        margin-top: 30px;
        color: #ff4c61;
        font-size: 16px;
        font-weight: 700;
    }

    .directions-detail-line-message {
        width: auto;
        height: 24px;
        line-height: 24px;
        color: #333;
        margin-left: 30px;
    }
}

.server-detail {
    margin-bottom: 22px;
}

.goods-details-con div,
.goods-details-con hr,
.goods-details-con img,
.goods-details-con li,
.goods-details-con p,
.goods-details-con table,
.goods-details-con ul {
    max-width: 940px;
}

.goods-details-con img {
    vertical-align: middle;
    display: block;
    margin: 0 auto;
}

.goods-details-box {
    margin: -1px auto 20px auto;
    width: 958px;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
}

.proinfo-main .goods-details-con {
    margin: 0 auto;
    padding-top: 20px;
    width: 920px;
    font-size: 12px;
}

.emption,
.emption-mend {
    font-family: \5FAE\8F6F\96C5\9ED1;
    margin: 20px 0 0;
    position: relative;
    width: 100%;
    color: #333;
    overflow: hidden;
}

.comment {
    width: 958px;
    border: 1px solid #eaeaea;
}

#footer {
    .helpnav {
        background: #f3f3f3;
        min-width: 1190px;
        padding: 24px 0;
        clear: both;
        margin: 10px 0 0 0;

        .wrap {
            position: relative;

            .footer-center {
                width: 1100px;
                margin: 0 auto;

                .helpnav-list {
                    float: left;
                    width: 200px;
                    margin: 0 10px;
                    display: inline-block;

                    .helpnav-title {
                        height: 40px;
                        line-height: 40px;
                        color: #000;
                        font-size: 16px;

                        i {
                            display: inline-block;
                            float: left;
                            margin-right: 15px;
                            width: 40px;
                            height: 40px;
                            overflow: hidden;
                        }

                        i.footic1 {
                            background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 0;
                        }
                    }

                    ul {
                        margin-left: 55px;
                        font-size: 13px;
                        line-height: 26px;
                        color: #555;
                    }

                    .helpnav-title i.footic2 {
                        background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 -40px;
                    }

                    .helpnav-title i.footic3 {
                        background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 -80px;
                    }

                    .helpnav-title i.footic4 {
                        background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 -120px;
                    }

                    .helpnav-title i.footic5 {
                        background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 -160px;
                    }
                }
            }
        }
    }

    .bottom-nav {
        line-height: 24px;
        text-align: center;
        padding: 15px 0 0;
        color: #999;
        background: #f3f3f3;
    }
}

#loadVideo {
    width: 450px;
    height: 450px;
    position: absolute;
    left: 820px;
    border: 1px solid #eee;
    overflow: hidden;
    z-index: 111;

    display: none;

    img {
        position: absolute;
    }
}

.pup {
    width: 250px;
    height: 250px;
    background-color: #fff;
    opacity: .5;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    pointer-events: none;
}

.right-slidebar {
    width: 314px;
    position: fixed;
    right: -319px;
    top: 0;
    color: #fff;
    z-index: 1111111;
}

#rsidein {
    background: #333;
}

#nosidederty {
    background: #333;
}

#rsidein>div {
    cursor: pointer;
}

.login {
    font-size: 12px;
    position: absolute;
    top: 100px;
    z-index: 99;
}

.sidecss {
    height: 40px;
    font-size: 12px;
    width: 38px;
    background: #333;
    text-align: center;
    margin: 2px 0;
    line-height: 40px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.history i {
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -80px;
}

.service {
    position: absolute;
    top: 500px;
}

.qrcode i {
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -200px;
}

.service i {
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -240px;
}

.mui-mbar-tab-tip {
    opacity: 1;
    display: none;
    position: absolute;
    width: 0;
    line-height: 40px;
    right: 38px;
    top: -17px;
    border: 1px solid #DDD;
    color: #000;
    background-color: #FFF;
    overflow: hidden;
    cursor: default;
    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
}

.shopcar {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    height: 174px;
    position: absolute;
    top: 160px;
    width: 43px;
    right: 0;
    z-index: 99999;
    background-color: #333;
    font-family: 'Microsoft YaHei';
}

.collection {
    position: absolute;
    top: 330px;
    z-index: 98;
}

.history {
    position: absolute;
    top: 390px;
    z-index: 97;
}

.suggest {
    position: absolute;
    top: 400px;
    display: none;
}

.sidecss {
    height: 40px;
    font-size: 12px;
    width: 38px;
    background: #333;
    text-align: center;
    margin: 2px 0;
    line-height: 40px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.qrcode {
    position: absolute;
    top: 450px;
}

.activity {
    font-size: 12px;
    position: absolute;
    top: 60px;
    z-index: 99;
    display: none;
}

.mui-mbar-tab-normal-arr {
    position: absolute;
    top: 14px;
    right: 0;
    display: none;
    width: 6px;
    height: 12px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat 0 -108px;
    border: 0;
}

.mui-mbar-tab {
    position: relative;
    z-index: 999;
    top: 15px;
}

.login i {
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 0;
}

.shopcar i {
    width: 24px;
    height: 18px;
    margin-top: 36px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -365px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.shopcar span {
    margin-top: 10px;
    line-height: 15px;
    display: block;
    font-size: 14px;
}

.shopcar b {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e6133c;
    text-align: center;
    display: block;
    line-height: 18px;
    color: #FFF;
    margin-top: 10px;
}

b {
    font-weight: bold;
}

.mui-mbar-tab-normal-arr {
    position: absolute;
    top: 14px;
    right: 0;
    display: none;
    width: 6px;
    height: 12px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat 0 -108px;
    border: 0;
}

.mui-mbar-tab-tip {
    opacity: 1;
    display: none;
    position: absolute;
    width: 0;
    line-height: 40px;
    right: 38px;
    top: -17px;
    border: 1px solid #DDD;
    color: #000;
    background-color: #FFF;
    overflow: hidden;
    cursor: default;
    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
}

.mui-mbar-tab-tip .tip_con {
    width: 86px;
    font-size: 14px;
    color: #333;
    font-family: 'Microsoft YaHei';
}

.right-slidebar-main>div:hover {
    background-color: #e6133c;
}

.collection i {
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -40px;
}

.mui-mbar-tab-tip-arr {
    position: absolute;
    top: 15px;
    right: -6px;
    width: 6px;
    height: 12px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat -6px -108px;
}

.mui-mbar-tab {
    position: relative;
    z-index: 999;
    top: 15px;
}

.cartbar_co {
    width: 43px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 0;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -360px;
}

.mui-mbar-tab-cart-arr {
    position: absolute;
    top: 82px;
    right: 0;
    z-index: 999990;
    width: 6px;
    height: 12px;
    display: none;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat 0 -108px;
}

.sidecss i {
    width: 38px;
    height: 40px;
    float: left;
    display: inline;
}

.totop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 38px;
    height: 40px;
    text-align: center;
    background: #333;
    line-height: 40px;
    display: none;
}

.sidecss {
    height: 40px;
    font-size: 12px;
    width: 38px;
    background: #333;
    text-align: center;
    margin: 2px 0;
    line-height: 40px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.right-slidebar-main {
    width: 38px;
    position: absolute;
    left: 0;
    top: 0;
    background: #333;
    z-index: 999999;
    height: 100%;
}

.show-tk {
    right: 320px;
    margin-top: 35px;
}

.gbicon-2 a:link,
.gbicon-2 a:visited {
    color: #08c;
}

.ftitle {
    font-size: 16px;
}

.pr-t0px {
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 11px;
    height: 11px;
    display: block;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/pr-t0px.png) no-repeat left top;
    top: 10px;
}

.bg-1 {
    position: absolute;
    right: -6px;
    width: 6px;
    height: 12px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat -6px -108px;
    top: 50%;
}

.gbicon-2 {
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/gbicon-2.png) no-repeat 35px 25px;
    padding-left: 75px;
    font-family: 'Microsoft YaHei';
    text-align: left;
    line-height: 28px;
    padding-top: 23px;
}

.show-bx {
    top: 0;
    right: 315px;
    position: absolute;
    width: 290px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    z-index: 9999999;
    color: #000;
    background: #fff;
    margin-top: -34px;
    display: none;
}

.divimg {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 350px;
    top: 650px;
    z-index: 999999999999;
    display: none;

    img {
        width: 100%;
        height: 100%;
    }
}