* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Microsoft YaHei';
}



em,
i,
s {
    text-decoration: none;
    font-style: normal;
}

.on {}



li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    font: 12px/150% arial, 'Hiragino Sans GB', SimSun, tahoma, sans-serif;
    font-family: 'SimSun';
    outline: 0;
}

body {
    font: 12px/150% arial, "Hiragino Sans GB", SimSun, tahoma, sans-serif;
}

.nav {
    &:after {
        content: "";
        clear: both;
        display: block;
    }

    li {
        float: left;

        a {
            display: block;
        }
    }
}

.clear {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}