* {
    margin: 0;
    padding: 0;
}

.tools-right ul li.box a:link,
.tools-right ul li.box a:visited {
    float: left;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #666;
}

.tools-right ul li.box span {
    margin-left: 5px;
    display: inline-block;
    float: left;
}

.tools-right ul li.box i {
    float: left;
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -15px;
    margin-top: 8px;
}

.tools-right ul li.box a:link,
.tools-right ul li.box a:visited {
    float: left;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #666;
}

body {
    font-family: 'Microsoft YaHei';
}

div a:hover {
    color: #ff6f6f;
}

div a,
a:link,
a:visited {
    cursor: pointer;
    color: #666;
    text-decoration: none;
}

em,
i,
s {
    text-decoration: none;
    font-style: normal;
}

input {
    outline: none;
}

.on {}

a:link,
a:visited {
    color: #666;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
    font-size: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    font: 12px/150% arial, 'Hiragino Sans GB', SimSun, tahoma, sans-serif;
    font-family: 'SimSun';
    outline: 0;
}

body {
    font: 12px/150% arial, "Hiragino Sans GB", SimSun, tahoma, sans-serif;
}

.nav {
    &:after {
        content: "";
        clear: both;
        display: block;
    }

    li {
        float: left;

        a {
            display: block;
        }
    }
}

.clear {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}