body {
    background: #f9f9f8 !important;
}

input {
    outline: none;
}

.margin {
    width: 950px;
    margin: 0 auto;
}

.normal {
    border: 1px solid #ccc;
}

.errer {
    border: 2px solid #f77799;
    box-shadow: 0px 0px 3px #f77799;
    -moz-box-shadow: 0px 0px 3px #f77799;
    -ms-box-shadow: 0px 0px 3px #f77799;
    -o-box-shadow: 0px 0px 3px #f77799;
    -webkit-box-shadow: 0px 0px 3px #f77799;
}



.right {
    border: 2px solid #7fcbfe;
    box-shadow: 0px 0px 3px #7fcbfe;
    -moz-box-shadow: 0px 0px 3px #7fcbfe;
    -ms-box-shadow: 0px 0px 3px #7fcbfe;
    -o-box-shadow: 0px 0px 3px #7fcbfe;
    -webkit-box-shadow: 0px 0px 3px #7fcbfe;
}

#header {
    height: 110px;

    .header-logo {
        float: left;
        margin-top: 29px;

        .fl {
            float: left;
        }
    }
}

#main {
    .margin {
        background: #fff;
    }

    .center-top {
        height: 30px;
        border-bottom: 1px solid #e1dfda;
        padding: 10px 20px;
        line-height: 30px;

        .title-info {
            float: left;
            font-size: 16px;
            font-family: 'Microsoft YaHei';
            color: #ff002a;
        }

        .title-login {
            float: right;
            font-family: 'Microsoft YaHei';
            color: #63625d;

            a {
                color: #0088cc;
            }
        }
    }

    .center-bottom {
        height: auto;
        padding: 50px 0px 74px 191px;

        form {
            .name {
                float: left;
                font-size: 15px;
                font-family: 'Microsoft YaHei';
                color: #333333;
                float: left;
                width: 136px;
                text-align: right;
                line-height: 36px;

                i {
                    color: #df3d36;
                    padding: 0 8px;
                }
            }

            .loginPerfect-input {
                float: left;

                input {
                    line-height: 34px;
                    font-size: 16px;
                    vertical-align: middle;
                    padding: 0 10px 0 30px;
                    text-indent: 0px;
                    font-size: 12px;
                    font-family: 'Microsoft YaHei';
                    color: #000;
                    width: 258px;
                    background: #ffffff;
                    border-width: 2px;

                    &:hover {
                        border: 2px solid #999999;
                        box-shadow: 0px 0px 3px #ccc;
                        -moz-box-shadow: 0px 0px 3px #ccc;
                        -ms-box-shadow: 0px 0px 3px #ccc;
                        -o-box-shadow: 0px 0px 3px #ccc;
                        -webkit-box-shadow: 0px 0px 3px #ccc;
                    }

                }

            }

            .prompt {
                margin-left: 10px;
                height: 36px;
                overflow: hidden;

                li {
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    font-family: 'Microsoft YaHei';

                    i {
                        float: left;
                        width: 16px;
                        line-height: 0px;
                        height: 16px;
                        margin-top: 10px;
                    }

                    .strength-1 {
                        color: #ffffff;
                        display: inline-block;
                        float: left;
                        height: 20px;
                        line-height: 20px;
                        margin-left: 2px;
                        margin-top: 8px;
                        text-align: center;
                        width: 24px;
                        background: #ccc none repeat scroll 0% 0%;
                    }

                    .strengthatcive {
                        background: #FF0000 none repeat scroll 0% 0%;
                    }

                    span {
                        float: left;
                        margin-left: 8px;
                        display: inline;
                        line-height: 36px;
                    }
                }
            }


            .loginPerfect-remember {
                height: 55px;
                padding-left: 140px;
                line-height: 18px;
                overflow: hidden;
                padding-top: 5px;
                color: #666666;
                background: #fff;



                a {
                    color: #0088ca !important;
                }
            }
        }
    }

    .register-button {
        padding-left: 134px;
        height: 36px;
        overflow: hidden;

        .btn {
            width: 300px;
            margin-left: 6px;
            border: 0;
            color: #ffffff;
            background: #e6133c;
            font-size: 16px;
            height: 36px;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
        }
    }
}

#main {
    .center-bottom {
        form {
            .loginPerfect-data {
                padding: 10px 0px;
            }
        }
    }
}

#footer {
    padding-top: 30px;

    .footer-t {
        span {
            padding: 0px 10px;
        }
    }

    a {
        &:hover {
            color: #d62233;
        }
    }

    .fnav {
        line-height: 24px;
        text-align: center;
        padding-top: 10px;
        color: #cccccc;
    }

    .drug-message {
        display: block;
        color: #003333;
    }
}