.margin {
    width: 1200px;
    margin: 0 auto;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    text-align: center;
    font-family: "Microsoft Yahei";
    border: 0 none;
    transition: all .08s ease-in;
    -moz-transition: all .08s ease-in;
    -ms-transition: all .08s ease-in;
    -o-transition: all .08s ease-in;
    -webkit-transition: all .08s ease-in;
    outline: 0;
}

.btn-primary {
    color: #fff;
    background: #E6133C;
    font-size: 16px;
    height: 36px;
    width: 100%;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#tool {
    line-height: 30px;
    height: 30px;
    background-color: #f7f7f7;
    min-width: 1190px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e9e9e9;
    font-family: 'Microsoft YaHei';
    position: relative;

    a {
        color: #666;
        font-family: 'Microsoft YaHei';
    }

    span {
        // color: #666;
        font-family: 'Microsoft YaHei';
    }

    .tool-l {
        float: left;



        .logo {
            float: left;
            width: 156px;
            height: 30px;
            color: #8d8d8d;
            background: url(../images/bl_logo_m.png) no-repeat left;
            padding: 0 12px 0 18px;
        }

        .tool-l-t {
            float: left;
            padding: 0 10px;
            border-left: 1px solid #f7f7f7;
            border-right: 1px solid #f7f7f7;
            position: relative;

            &:hover {
                background-color: #fff;
                border-left: 1px solid #e2e2e2;
                border-right: 1px solid #e2e2e2;
                z-index: 1111;
                box-shadow: 0 0 2px #CCC;
            }

            &:hover .divshow {
                display: inline;
                z-index: 1;
            }

            &:hover .left-span {
                display: block;
            }

            span {
                float: left;
            }

            i {
                float: left;
                display: inline-block;
                width: 7px;
                height: 4px;
                margin-left: 7px;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -40px;
                margin-top: 13px;
                transition: all .1s ease-in 0s;
                -webkit-transition: all .1s ease-in 0s;
            }

            ul {
                display: none;

            }
        }

        .tool-info {
            width: 30px;
            float: left;
            display: inline;
            height: 30px;
            line-height: 30px;
            margin-left: 10px;
            text-align: center;
            position: relative;
        }
    }

    .tool-r {
        float: right;

        ul {
            li {
                padding: 0 10px;
                float: left;
                position: relative;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                display: inline;
                height: 30px;
                line-height: 30px;
                margin-left: -1px;

                i {
                    float: left;
                    display: inline-block;
                    width: 7px;
                    height: 4px;
                    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -40px;
                    margin-top: 13px;
                    transition: all .1s ease-in 0s;
                    -webkit-transition: all .1s ease-in 0s;
                }

                .hi {
                    float: left;
                }

                .username {
                    float: left;
                    display: inline-block;
                    max-width: 84px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .boxi {
                    float: left;
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -15px;
                    margin-top: 8px;
                }

                .login {
                    display: inline-block;
                    float: left;
                }

                &:hover {
                    background-color: #FFF;
                    box-shadow: 0 0 2px #ccc;
                    border-left: 1px solid #e2e2e2;
                    border-right: 1px solid #e2e2e2;
                    z-index: 2;
                }

                &:hover .divshow {
                    display: block;
                }

                &:hover .left-span {
                    display: block;
                }

                &:first-child {
                    a {
                        display: inline-block;
                    }
                }

                a {
                    float: left;
                    display: inline-block;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 5px;
                    color: #666;

                    &:hover {
                        color: #ff6f6f;
                    }
                }
            }

        }
    }

    .divshow {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #e2e2e2;
        box-shadow: 0 0 2px #CCC;
        top: 30px;
        width: 85px;
        left: -1px;
        padding: 5px 0;

        dl {
            dd {
                line-height: 24px;

                a {
                    padding: 0 10px;
                    height: 24px;
                    line-height: 24px;
                    display: block;
                    color: #666;
                }
            }
        }



    }

    .pay {
        padding: 15px;
        width: 450px;
        left: 50%;
        margin-left: -240px;

        .pay-dl {
            width: 450px;
            overflow: hidden;

            dd {
                float: left;
                width: 100px;
                padding: 0 5px;
                margin-left: -1px;
                border-left: 1px dashed #e9e9e9;
                height: 126px;

                .pay-title {
                    line-height: 26px;
                    height: 30px;
                    font-weight: 700;
                    font-size: 14px;
                    color: #333;
                    padding: 0 10px;
                }

                .pay-head {
                    line-height: 24px;
                }
            }
        }
    }

    .palm {
        width: 310px;
        left: 50%;
        margin-left: -214px;
        border: 1px solid #e2e2e2;
        overflow: hidden;
        z-index: 1111;

        .palm-item {
            float: left;
            margin-left: 8px;
            width: 141px;
            text-align: center;
            padding: 20px 0 4px;
        }
    }

    .left-span {
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        top: 28px;
        background-color: #FFF;
        z-index: 2;
        display: none;
    }

    .left-show {
        left: -1px;
        padding: 7px 12px;
        width: 222px;

        .left-show-dl {
            width: 222px;
            line-height: 24px;

            dl {
                dd {
                    padding: 0 5px;
                    width: 100px;
                    float: left;
                    margin-left: 1px;

                    a {
                        padding: 0 10px;
                        color: #666;
                        display: block;
                    }
                }
            }
        }
    }
}

#header {
    height: 96px;

    .logo {
        width: 410px;
        height: 60px;
        margin-top: 18px;
        float: left;

        .logo-l {
            width: 190px;
            float: left;
        }

        .logo-r {
            float: left;
            margin-left: 25px;
        }
    }

    .header-l {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        float: left;

        form {
            margin-top: 25px;

            .txtbox {
                float: left;
                padding: 0px 0 0px 2px;
                border: 2px solid #ff3d3d;
                position: relative;

                .searchtxt {
                    height: 19px;
                    line-height: 19px;
                    border: 0;
                    width: 406px;
                    font-size: 13px;
                    font-family: 'Microsoft YaHei';
                    background: 0 0;
                    vertical-align: middle;
                    padding: 6px 0;
                    outline: none;
                    text-indent: 1em;
                }
            }

            .searchbtn {
                float: left;
                height: 35px;
                width: 85px;
                border: 0;
                cursor: pointer;
                background: #ff3d3d url(//img.iblimg.com/respc-1/resources/v4.2/widget/header1200/i/ser_btnbg.png) no-repeat center center;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                color: #fff;
                font-size: 14px;
            }
        }
    }

    .header-search-font {
        a {
            color: #999;
            float: left;
            margin-right: 5px;
            margin-left: 5px;
            display: inline-block;
        }

        span {
            float: left;
            color: #e5e5e5;
            margin-left: 5px;
            display: inline-block;
        }
    }

    .header-r {
        float: left;
        margin-left: 50px;
        height: 35px;
        margin-top: 25px;

        a {
            height: 33px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            -webkit-border-radius: 3px;
            border: 1px solid #d7d7d7;
            display: inline-block;
            margin-left: 2px;
            color: #666;
            overflow: hidden;
            padding: 0 19px 0 12px;
            float: left;
            background: #fff url(//img.iblimg.com/respc-1/resources/v4.2/widget/header1200/i/header-right-icon.png) no-repeat right 12px;
            line-height: 33px;
            font-family: 'Microsoft YaHei';
        }
    }
}

#nav {
    height: 35px;
    border-bottom: 2px solid #151515;
    background: #fff;
    position: relative;

    ul.nav {
        .navli {
            line-height: 35px;
            padding: 0 18px;
            position: relative;

            &:nth-child(1) {
                background: #151515;
                cursor: pointer;
                height: 35px;
                padding: 0;
                width: 190px;
                position: relative;

                .selectbg {
                    display: none;
                    width: 190px;
                    height: 430px;
                    position: absolute;
                    left: 0;
                    top: 35px;
                    background: #151515;
                    z-index: 111;
                }

                .select {
                    display: none;
                    position: relative;
                    overflow: hidden;
                    height: 412px;
                    padding: 11px 0 9px;
                    z-index: 111;
                    transition: .5s ease-in;

                    .selectli {
                        height: 29px;
                        line-height: 29px;
                        width: 100%;
                        padding-left: 16px;
                        cursor: pointer;
                        color: #fff;
                        font-family: 'Microsoft YaHei';

                        &:hover {
                            background-color: #888;
                        }

                        i {
                            float: left;
                            width: 16px;
                            height: 16px;
                            margin-top: 7px;
                            display: inline-block;
                            line-height: 16px;
                            font-size: 16px;
                            background: url(//img.iblimg.com/respc-1/resources/v4.1/widget/nav1200/i/nav-v3-icon-1.png) no-repeat;
                        }

                        .jinkou {
                            background-position: 0 0;
                        }

                        .shengxian {
                            background-position: 0 -30px;
                        }

                        .shipin {
                            background-position: 0 -60px;
                        }

                        .huli {
                            background-position: 0 -90px;
                        }

                        .jiaju {
                            background-position: 0 -150px;
                        }

                        .muying {
                            background-position: 0 -120px;
                        }

                        .lengdong {
                            background-position: 0 -180px;
                        }

                        .fuzhuang {
                            background-position: 0 -210px;
                        }

                        .xiangbao {
                            background-position: 0 -240px;
                        }

                        .sanc {
                            background-position: 0 -270px;
                        }

                        .jiadian {
                            background-position: 0 -300px;
                        }

                        .qiche {
                            background-position: 0 -330px;
                        }

                        .yiliao {
                            background-position: 0 -360px;
                        }

                        .cardbook {
                            background-position: 0 -390px;
                        }
                    }

                    .selects {
                        float: left;
                        margin-left: 10px;
                        display: inline-block;
                        font-size: 13px;

                        .selectsa {
                            color: #fff;
                            text-decoration: none;
                            float: left;
                            margin-left: 10px;
                            display: inline-block;
                            font-size: 13px;
                            font-weight: 500;

                            &:hover {
                                color: #111;
                            }
                        }
                    }

                }

                #menuData {
                    position: absolute;
                    top: 36px;
                    left: 190px;
                    z-index: 11111;
                    background-color: #fff;
                    display: none;

                    .gb-icon {
                        display: none;
                        width: 31px;
                        height: 31px;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background: url(//img.iblimg.com/respc-1/resources/v4.1/widget/nav1200/i/nav1200_sprite.png) no-repeat 0 -70px;
                    }

                    li {
                        width: 984px;
                        height: 416px;
                        display: none;
                        padding: 8px;
                        overflow: hidden;
                    }

                    .menu_right_img {
                        width: 240px;
                        height: 422px;
                        float: right;

                        a {
                            margin-bottom: 9px;

                        }
                    }

                    .menu_floor {
                        width: 725px;
                        margin: 10px 0 0 5px;
                        line-height: 23px;
                        position: relative;
                        overflow: hidden;

                        span {
                            width: 75px;
                            font-weight: 700;
                            float: left;
                            margin-right: 23px;
                            text-align: right;

                            a {
                                display: inline;
                            }
                        }

                        .menu_floor_a {
                            width: 620px;
                            float: left;
                            line-height: 23px;
                            padding-bottom: 5px;
                            border-bottom: 1px dashed #f3f3f3;

                            a {
                                margin-right: 18px;
                                color: #666;
                                display: inline-block;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }


            .lii {
                display: inline-block;
                width: 14px;
                height: 12px;
                float: left;
                margin-top: 12px;
                margin-left: 13px;
                background: url(//img.iblimg.com/respc-1/resources/v4.1/widget/nav1200/i/nav1200_sprite.png) no-repeat 0 -101px;


            }

            .fenlei {
                display: inline-block;
                margin-left: 25px;
                color: #FFF;
                font-size: 14px;
                line-height: 35px;
            }

            .navlia {
                font-weight: 700;
                display: block;
                height: 35px;
                position: relative;
                overflow: hidden;
                transition: all .2s ease-in 0s;
                -webkit-transition: all .2s ease-in 0s;
                color: #333;
                font-weight: 700;
                font-size: 15px;

                &:hover {
                    color: #ed595c;
                }
            }
        }
    }
}

.sequence {
    margin-top: 20px;
    height: 36px;

    .wrap {
        position: relative;

        .sequence-left {
            height: 36px;
            float: left;
            overflow: hidden;
            font-family: 'Microsoft YaHei';

            .flienav-list {
                display: none;

                .banner-itemleft_newbg {
                    width: 100%;
                    height: 431px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: #151515;
                    opacity: .9;
                }

                .banner-itemleft {
                    position: relative;
                    z-index: 4;
                    overflow: hidden;
                    height: 412px;
                    width: 190px;
                    text-align: left;
                    color: #FFF;
                    padding: 11px 0 9px;
                    line-height: 30px;
                    box-shadow: -2px 0 2px rgba(0, 0, 0, .2);
                    -moz-box-shadow: -2px 0 2px rgba(0, 0, 0, .2);
                    -webkit-box-shadow: -2px 0 2px rgba(0, 0, 0, .2);

                    ul li {
                        height: 29px;
                        line-height: 29px;
                    }
                }

                .left-ul-show {
                    position: absolute;
                    left: 190px;
                    top: 1px;
                    background: #f9f9f9;
                    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
                    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .2);
                    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .2);
                    display: none;
                    width: 1000px;
                    height: 429px;
                    border: 1px solid #dfdfdf;
                    border-left: 0;
                    border-top: 0;
                    z-index: 3;

                    .gb-icon {
                        display: none;
                        width: 31px;
                        height: 31px;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/nav1200/i/nav1200_sprite.png) no-repeat 0 -70px;
                    }

                    li {
                        width: 984px;
                        height: 416px;
                        display: none;
                        padding: 8px;
                    }
                }
            }

            .listclass {
                margin-left: 1px;

                li {
                    float: left;
                    margin-left: -1px;
                    position: relative;



                    a {
                        border: 1px solid #ccc;
                        display: block;
                        padding: 0 15px;
                        height: 34px;
                        line-height: 34px;
                        background: #f8f8f8;

                        span {
                            float: left;
                            display: inline-block;
                        }

                        i {
                            float: left;
                            margin-left: 7px;
                            display: inline-block;
                            width: 7px;
                            height: 34px;
                            background-repeat: no-repeat;
                        }
                    }


                }

                .on a {
                    background: #c01133;
                    border: 1px solid #c01133;
                    color: #FFF;
                    text-shadow: 0 0 black;
                }

                li.upanddown i {
                    background-image: url(//img.iblimg.com/respc-1/resources/v4.0/css/i/icon-xiala.png);
                    background-position: 0 center;
                }

                li.sort i {
                    background-image: url(//img.iblimg.com/respc-1/resources/v4.0/css/i/icon-xiala1.png);
                    background-position: 0 center;
                }

                .on {
                    z-index: 3;
                }
            }
        }

        .left-money {
            float: left;
            margin-left: 10px;
            display: inline-block;
            height: 34px;
            position: relative;
            z-index: 3;
            width: 164px;

            .moneyshow {
                padding: 4px;
                position: absolute;
                border: 1px solid #ccc;
                background: #f8f8f8;
            }

            input {
                height: 24px;
                border: 1px solid #ccc;
                width: 68px;
                text-align: center;
                background: #fff;
                float: left;
                font-family: 'Microsoft YaHei';
                vertical-align: middle;
            }

            span {
                display: inline-block;
                padding: 0 5px;
                float: left;
            }

            .ltshow {
                position: absolute;
                width: 154px;
                top: 39px;
                left: 4px;
                display: none;

                .btn-submit {
                    height: 26px;
                    width: 70px;
                    background: #fff;
                    color: #333;
                    border: 1px solid #ccc;
                    font-size: 12px;
                }

                .btn-secondary {
                    background: #e6133c;
                    border: 1px solid #e6133c;
                }
            }
        }

        .sequence-right {
            margin-left: 10px;
            height: 34px;
            border: 1px solid #ccc;
            background: #f8f8f8;
            padding: 0 4px 0 10px;
            float: right;
            width: 645px;

            .option {
                float: left;

                label {
                    margin-right: 25px;
                    line-height: 34px;
                    float: left;
                    cursor: pointer;

                    i {
                        width: 12px;
                        height: 12px;
                        margin-top: 11px;
                        margin-left: 4px;
                        float: left;
                        display: inline;
                        background: url(//img.iblimg.com/respc-1/resources/v4.0/css/i/list-new-alert.png) 0 0 no-repeat;

                        &:hover {
                            background-position: 0 -13px;
                            position: relative;
                        }

                        &:hover .tips {
                            display: inline;
                        }

                        .tips {
                            z-index: 1000;
                            text-align: left;
                            border: 1px solid #ffdaa2;
                            border-radius: 4px;
                            -moz-border-radius: 4px;
                            -webkit-border-radius: 4px;
                            padding: 6px 8px;
                            color: #000;
                            background-color: ivory;
                            position: absolute;
                            top: 25px;
                            left: -100px;
                            font-family: 'Microsoft YaHei';
                            display: none;

                            .tip-arrow-top {
                                margin-top: -14px;
                                position: absolute;
                                top: 0;
                                left: 98px;
                                width: 17px;
                                height: 14px;
                                background: url(//img.iblimg.com/respc-1/resources/v4.0/css/i/tip-yellow_arrow.png) no-repeat;
                            }

                            .tips-line {
                                width: 240px;
                                height: 24px;
                                line-height: 24px;
                                float: left;
                                display: inline;
                                color: #bb7e23;

                                a {
                                    float: right;
                                    display: inline;
                                    color: #999;
                                }
                            }

                            .tips-txt {
                                width: 240px;
                                height: auto;
                                line-height: 22px;
                                float: left;
                                display: inline;
                                color: #000;
                            }
                        }
                    }


                    input {
                        float: left;
                        cursor: pointer;
                        margin-top: 10px;
                        outline: 0;
                        padding: 0;
                        list-style: none;
                        *margin-top: 8px;
                    }

                    span {
                        cursor: pointer;
                        float: left;
                        margin-left: 5px;
                        color: #333;
                        font-family: 'Microsoft YaHei';
                    }
                }
            }

            .sequence-right-pt {
                float: right;
                color: #666;
                line-height: 26px;
                padding-top: 4px;

                .fl {
                    float: left;

                }

                .fr-show {
                    float: left;
                    width: 68px;
                    margin-left: 2px;
                }

                span {
                    color: #e6133c;
                }

                .buledt {
                    background-image: url(//img.iblimg.com/respc-1/resources/v4.0/css/i/slicon.png);
                    float: left;
                    color: #666666;
                    text-decoration: none;
                }

            }

            .search-line {
                display: none;
            }

            .buridt {
                background-image: url(//img.iblimg.com/respc-1/resources/v4.0/css/i/swicon.png);
                float: right;
            }

            .swicon {
                height: 24px;
                width: 24px;
                border: 1px solid #ccc;
                background-color: #eee;
                background-position: center center;
                background-repeat: no-repeat;
                margin-left: 8px;
                display: block;
            }
        }
    }
}

.prolist {
    font-family: 'Microsoft YaHei';
    margin-top: 10px;
    position: relative;

    li {
        margin-top: 10px;
        margin-right: 10px;
        float: left;
        position: relative;
        width: 230px;
        height: 390px;

        .pro-show {
            width: 202px;
            border: 1px solid #eee;
            padding: 14px 13px;
            height: auto;
            padding-bottom: 0;
            float: left;
            display: inline;
        }

        .pro-icon {
            position: absolute;
            right: 2px;
            top: 2px;
            z-index: 2;
        }

        .pro-img {
            height: 200px;
            width: 200px;
            position: relative;

            .pro-img-show {
                width: 186px;
                height: 28px;
                position: absolute;
                left: 0;
                bottom: 0;
                line-height: 28px;
                padding: 0 7px;
                background: rgba(0, 0, 0, .7);
                *background: #000;
                color: #fff;
            }

            .hotsale {
                text-align: center;
                background: rgba(236, 89, 92, .9);
            }
        }

        .pro-money {
            height: 26px;
            margin-top: 10px;
            position: relative;
            white-space: nowrap;

            .money-fl {
                float: left;
                font-family: Verdana, Geneva, sans-serif;
                color: #e6133c;
                line-height: 26px;
                font-size: 18px;
            }

            .money-fr {
                float: right;
            }
        }

        .product-comment {
            height: 42px;
            clear: both;

            .pro-name {
                line-height: 21px;
                color: #333;
                height: 21px;
                word-break: break-all;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .pro-info {
                line-height: 21px;
                color: #ff875a;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .pro-assess {
            height: 21px;
            line-height: 21px;

            .pro-assess-right {
                float: left;
                color: #999;
            }
        }

        .pro-button {
            padding: 4px 0 14px;
            display: block;

            .btn-primary {
                border: 1px solid #e6133c;
                background: #fff;
                color: #e6133c;
            }
        }

        &:hover .pro-show {
            border: 1px solid #e6133c;
            background: #fff;
            border-radius: 2px;
            box-shadow: 0 0 3px rgba(0, 0, 0, .25);
            -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
            -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
        }
    }


}



#footer {
    .helpnav {
        background: #f3f3f3;
        min-width: 1190px;
        padding: 24px 0;
        clear: both;

        .wrap {
            position: relative;

            .footer-center {
                width: 1100px;
                margin: 0 auto;

                .helpnav-list {
                    float: left;
                    width: 200px;
                    margin: 0 10px;
                    display: inline-block;

                    .helpnav-title {
                        height: 40px;
                        line-height: 40px;
                        color: #000;
                        font-size: 16px;

                        i {
                            display: inline-block;
                            float: left;
                            margin-right: 15px;
                            width: 40px;
                            height: 40px;
                            overflow: hidden;
                        }

                        i.footic1 {
                            background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 0;
                        }
                    }

                    ul {
                        margin-left: 55px;
                        font-size: 13px;
                        line-height: 26px;
                        color: #555;
                    }

                    .helpnav-title i.footic2 {
                        background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 -40px;
                    }

                    .helpnav-title i.footic3 {
                        background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 -80px;
                    }

                    .helpnav-title i.footic4 {
                        background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 -120px;
                    }

                    .helpnav-title i.footic5 {
                        background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/footer1200/i/footer1200_sprite.png) no-repeat 0 -160px;
                    }
                }
            }
        }
    }

    .bottom-nav {
        line-height: 24px;
        text-align: center;
        padding: 15px 0 0;
        color: #999;
        background: #f3f3f3;
    }
}

.right-slidebar {
    width: 314px;
    position: fixed;
    right: -319px;
    top: 0;
    color: #fff;
    z-index: 1111111;
}

#rsidein {
    background: #333;
}

#nosidederty {
    background: #333;
}

#rsidein>div {
    cursor: pointer;
}

.login {
    font-size: 12px;
    position: absolute;
    top: 100px;
    z-index: 99;
}

.sidecss {
    height: 40px;
    font-size: 12px;
    width: 38px;
    background: #333;
    text-align: center;
    margin: 2px 0;
    line-height: 40px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.history i {
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -80px;
}

.service {
    position: absolute;
    top: 500px;
}

.qrcode i {
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -200px;
}

.service i {
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -240px;
}

.mui-mbar-tab-tip {
    opacity: 1;
    display: none;
    position: absolute;
    width: 0;
    line-height: 40px;
    right: 38px;
    top: -17px;
    border: 1px solid #DDD;
    color: #000;
    background-color: #FFF;
    overflow: hidden;
    cursor: default;
    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
}

.shopcar {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    height: 174px;
    position: absolute;
    top: 160px;
    width: 43px;
    right: 0;
    z-index: 99999;
    background-color: #333;
    font-family: 'Microsoft YaHei';
}

.collection {
    position: absolute;
    top: 330px;
    z-index: 98;
}

.history {
    position: absolute;
    top: 390px;
    z-index: 97;
}

.suggest {
    position: absolute;
    top: 400px;
    display: none;
}

.sidecss {
    height: 40px;
    font-size: 12px;
    width: 38px;
    background: #333;
    text-align: center;
    margin: 2px 0;
    line-height: 40px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.qrcode {
    position: absolute;
    top: 450px;
}

.activity {
    font-size: 12px;
    position: absolute;
    top: 60px;
    z-index: 99;
    display: none;
}

.mui-mbar-tab-normal-arr {
    position: absolute;
    top: 14px;
    right: 0;
    display: none;
    width: 6px;
    height: 12px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat 0 -108px;
    border: 0;
}

.mui-mbar-tab {
    position: relative;
    z-index: 999;
    top: 15px;
}

.login i {
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 0;
}

.shopcar i {
    width: 24px;
    height: 18px;
    margin-top: 36px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -365px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.shopcar span {
    margin-top: 10px;
    line-height: 15px;
    display: block;
    font-size: 14px;
}

.shopcar b {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e6133c;
    text-align: center;
    display: block;
    line-height: 18px;
    color: #FFF;
    margin-top: 10px;
}

b {
    font-weight: bold;
}

.mui-mbar-tab-normal-arr {
    position: absolute;
    top: 14px;
    right: 0;
    display: none;
    width: 6px;
    height: 12px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat 0 -108px;
    border: 0;
}

.mui-mbar-tab-tip {
    opacity: 1;
    display: none;
    position: absolute;
    width: 0;
    line-height: 40px;
    right: 38px;
    top: -17px;
    border: 1px solid #DDD;
    color: #000;
    background-color: #FFF;
    overflow: hidden;
    cursor: default;
    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
}

.mui-mbar-tab-tip .tip_con {
    width: 86px;
    font-size: 14px;
    color: #333;
    font-family: 'Microsoft YaHei';
}

.right-slidebar-main>div:hover {
    background-color: #e6133c;
}

.collection i {
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -40px;
}

.mui-mbar-tab-tip-arr {
    position: absolute;
    top: 15px;
    right: -6px;
    width: 6px;
    height: 12px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat -6px -108px;
}

.mui-mbar-tab {
    position: relative;
    z-index: 999;
    top: 15px;
}

.cartbar_co {
    width: 43px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 0;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -360px;
}

.mui-mbar-tab-cart-arr {
    position: absolute;
    top: 82px;
    right: 0;
    z-index: 999990;
    width: 6px;
    height: 12px;
    display: none;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat 0 -108px;
}

.sidecss i {
    width: 38px;
    height: 40px;
    float: left;
    display: inline;
}

.totop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 38px;
    height: 40px;
    text-align: center;
    background: #333;
    line-height: 40px;
    display: none;
}

.sidecss {
    height: 40px;
    font-size: 12px;
    width: 38px;
    background: #333;
    text-align: center;
    margin: 2px 0;
    line-height: 40px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.right-slidebar-main {
    width: 38px;
    position: absolute;
    left: 0;
    top: 0;
    background: #333;
    z-index: 999999;
    height: 100%;
}

.divimg {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 350px;
    top: 650px;
    z-index: 999999999999;
    display: none;

    img {
        width: 100%;
        height: 100%;
    }
}