.margin {
    width: 1190px;
    margin: 0 auto;
}

#tool {
    line-height: 30px;
    height: 30px;
    background-color: #f7f7f7;
    min-width: 1190px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #e9e9e9;
    font-family: 'Microsoft YaHei';
    position: relative;
}

#tool .tool-l {
    float: left;
}

#tool .tool-l .logo {
    float: left;
    width: 156px;
    height: 30px;
    color: #8d8d8d;
    background: url(../images/bl_logo_m.png) no-repeat left;
    padding: 0 12px 0 18px;

}

#tool .tool-l .tool-l-t {
    float: left;
    padding: 0 10px;
}

#tool .tool-l .tool-l-t span {
    display: block;
}

#tool .tool-l .tool-l-t ul {
    display: none;
}

#tool .tool-l .tool-info {
    width: 30px;
    float: left;
    display: inline;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    text-align: center;
    position: relative;
}

#tool .tool-r {
    float: right;
}

#tool .tool-r ul li {
    padding: 0 10px;
    float: left;
    position: relative;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    display: inline;
    height: 30px;
    line-height: 30px;
    margin-left: -1px;
}

#tool .tool-r ul li:first-child a {
    display: inline-block;
}

#tool .tool-r ul li a:hover {
    color: #ff6f6f;
}

#header {
    height: 96px;
}

#header .logo {

    width: 410px;
    height: 60px;
    margin-top: 18px;
    float: left;
}

#header .logo .logo-l {
    width: 190px;
    float: left;
}

#header .logo .logo-r {
    float: left;
    margin-left: 25px;
}

#nav {
    height: 35px;
    border-bottom: 2px solid #151515;
    background: #fff;
    position: relative;
}

#nav ul {}

#nav ul li {
    line-height: 35px;
    padding: 0 18px;
    position: relative;
}

#nav ul li a {
    font-weight: 700;
}

#nav ul li a:hover {
    color: #ed595c;
}

#banner {
    width: 100%;
    height: 430px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #f99;
}

#main {
    height: 700px;
    background-color: #ffff99;
}

#footer {
    height: 300px;
    background-color: #99f;
}